*{
	box-sizing: border-box;
	color: #fff;
}
body{
	background-color: #aeaeae;
}
ul, li{
	text-decoration: none;
	list-style: none;
}
.row a{
	text-decoration: none;
}
.bsr{
	border: 1px solid red;
}
.row button{
	outline:none;
	background-color: transparent;
	border: none;
}


/*МЕДИА ССЫЛКИ*/

.media_link{
	height: 40vh;
	margin-top: 30vh;
}
.media_link img{
	width: 25px;
}
/*PAGINATION*/

.pagination{
	height: 20vh;
	margin-top: 40vh;
	font-family: Martel;
	font-size: 30px;
	width: 5vw;
}
.pagination .line{
	width: 35px;
	height: 2px;
	background-color: #fff;
}
.all_page{
	writing-mode: vertical-lr;
}

/*HEADER*/

.header a{
	display: block;
	text-transform: uppercase;
	color: #fff;
	font-size:15px;
	margin: 5px 15px;
	font-family: Inconsolata
}
.header li{
	border: 2px solid transparent;
	cursor: pointer;
}
.header li:hover{
	border: 2px solid ;
}
.cover_home{
	background-color: rgba(0,0,0,0.8);
	height: 100vh;
}
.home{
	background-image: url(../img/home.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position-y: 70%;
	overflow-y:hidden;
	/*height: 100vh;*/
}
.home .devoloper p{
	padding-top:30vh;
	font-size: 75px;
	color: #fff;
	font-family: Limelight;
	text-transform: uppercase;
}
.button_order{
	background-color: transparent;
	border: 1px solid #fff;
	padding: .5vh 4vw;
	font-family: Lato;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 5vh;	
}
.web_design{
	writing-mode: vertical-lr;
	height: 12ch;
	font-size: 10px;
	font-family: Martel;
	color: #aeaeae;
	text-transform: uppercase;
}
.scroll{
	margin-top: 5vh;
}
.scroll img{
	width: 32px;
}
.scroll p{
	writing-mode: vertical-lr;
	width:  32px;
	display: block;
	margin: 0;
	margin-top: 5vh;
	margin-bottom: 12vh;
	padding: auto;
	font-size: 12px;
	font-family: Martel;
	text-transform: uppercase;
}



/*ABOUT*/

.about{
	background-image: url(../img/toa-heftiba-553978-unsplash.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
}
.cover_about{
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
}
.border_about{
	height: 80vh;
	width: 86vw;
	position: absolute;
	border: 2px solid #fff;
	margin-left: 5vw;
	margin-top: 10vh;
}
.row_about{
	padding-top: 20vh;	
}
.about .block{
	height: 60vh;
}

/*PETAL*/

.text_block{
	background-color: #071421;
	width: 20vw;
	height: 60vh;

}
.text_block img{
	display: block;
	margin: 0 auto;
}
.text_information{
	display: flex;
}
.text_resume{
	display: none;
}
.text_knowledge{
	display: none;
}
.text_information span{
	color: #e5322d;
	font-weight: 800;
	text-transform: uppercase;
    font-family: 'Averia Serif Libre', cursive;
}
.text{
	height: 60vh;
	text-align: center;
	flex-direction: column;;
	justify-content: center;
}
.petal p{
	color:#fff;
	writing-mode: vertical-lr;
	font-size: 13px;
    font-family: 'Averia Serif Libre', cursive;
	margin: auto;
}
.petal{
	cursor: pointer;
	display: inline-block;
	background-color: #071421;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	text-transform: uppercase;
	width: 40px;
	height: 20vh;
}
.petal_information{
	border-right: none;
}
.text button{
	display: block;
	justify-content: center;
	margin: 0 auto;
}
.bear{
	width: 35vw;	
	padding-bottom: 7vh;
}