*{
	box-sizing: border-box;
}
body{
	color: #fff;
	background-color: #aeaeae;
}
ul, li{
	text-decoration: none;
	list-style: none;
}
.row a{
	text-decoration: none;
}
.bsr{
	border: 1px solid red;
}
.row button{
	outline:none;
	background-color: transparent;
}


/*МЕДИА ССЫЛКИ*/

.media_link{
	height: 40vh;
	margin-top: 30vh;
}
.media_link img{
	width: 25px;
}
/*PAGINATION*/

.pagination{
	height: 20vh;
	margin-top: 40vh;
	font-family: Martel;
	font-size: 30px;
	width: 5vw;
}
.pagination .line{
	width: 35px;
	height: 2px;
	background-color: #fff;
}
.all_page{
	writing-mode: vertical-lr;
}

/*HEADER*/

.header a{
	display: block;
	text-transform: uppercase;
	color: #fff;
	font-size:15px;
	margin: 5px 15px;
	font-family: Inconsolata
}
.header li{
	border: 2px solid transparent;
	cursor: pointer;
}
.header li:hover{
	border: 2px solid ;
}
.home{
	background-image: url(../img/home.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position-y: 70%;
	overflow-y:hidden;
}
.devoloper{
	margin-top:30vh;
}
.home .devoloper p{
	font-size: 75px;
	/*color: #fff;*/
	font-family: Limelight;
	text-transform: uppercase;
}
.button_order{
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	padding: .5vh 4vw;
	font-family: Lato;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 5vh;	
}
.web_design{
	writing-mode: vertical-lr;
	height: 12ch;
	font-size: 10px;
	font-family: Martel;
	color: #aeaeae;
	text-transform: uppercase;
}
.scroll{
	margin-top: 5vh;
}
.scroll img{
	width: 32px;
}
.scroll p{
	writing-mode: vertical-lr;
	width:  32px;
	display: block;
	margin: 0;
	margin-top: 5vh;
	margin-bottom: 12vh;
	padding: auto;
	font-size: 12px;
	font-family: Martel;
	text-transform: uppercase;
}



/*ABOUT*/

.about{
	background-color: #464d57;
	width: 100%;
	overflow-y: hidden;
}
.about_title {
	font-size: 5vh;
	font-family: 'Fugaz One', cursive;
	position: relative;
	z-index: 1;
}
.tree{
	position: absolute;
	margin-top: 5vh;
	margin-left: 16vw;
	height: 90vh;
	box-shadow: -7px -3px 20px 2px #fff;
}
.about_title{
	font-size: 22vh;
	font-family: Times new roman;
	font-weight: 800;
	margin-top: 12vh;
	color: #04052e;
}
.topic_information{
	position: relative;
	margin-top: 18vh;
	color: #a3a1a1;
	font-size: 3.2vh;
	text-transform: uppercase;
	font-family: Times new roman;
	z-index: 0;
	padding-bottom: 0;
	overflow-y: hidden;
}
.topic_information span{
	margin-top: 1.2ch;
	display: block;
	position: absolute;
	top: 0.2ch;
	left: -.5ch;
	width: 8ch;
	height: 1.2ch;
	background-color: #e13d38;
	z-index: -1;
}
.text_informayion{
	font-size: 2.5vh;
}
.row_knowledge{
	margin-top: 18vh;
}
.block_knowledge{
	background-color: #b09999;
	margin-top: 20vh;
	height:39vh;
	width: 98%;
	padding: 0;
	margin: 0;
	font-family: Times new roman;
}
.topic_knowledge{
	font-size: 6.4vh;
	text-transform: uppercase;
	position: relative;
	top: -5vh;
	left: 6vh;
	width: 80%;
	color: #000;
	font-weight: 800;
}
.text_knowledge{
	position: relative;
	top: -5vh;
	left: 5.5vh;
	font-size: 3vh;
	width: 40vw;
	height: 35vh;
}