@font-face {
   font-family: 'Proxima Nova';
   src: url('ProximaNova-Light.eot');
   src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
   url('ProximaNova-Light.woff2') format('woff2'),
   url('ProximaNova-Light.woff') format('woff'),
   url('ProximaNova-Light.ttf') format('truetype'),
   url('ProximaNova-Light.svg#ProximaNova-Light') format('svg');
   font-weight: 300;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'Proxima Nova';
   src: url('ProximaNova-Regular.eot');
   src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
   url('ProximaNova-Regular.woff2') format('woff2'),
   url('ProximaNova-Regular.woff') format('woff'),
   url('ProximaNova-Regular.ttf') format('truetype'),
   url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
   font-weight: 400;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'Proxima Nova';
   src: url('ProximaNova-Medium.eot');
   src: url('ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),
   url('ProximaNova-Medium.woff2') format('woff2'),
   url('ProximaNova-Medium.woff') format('woff'),
   url('ProximaNova-Medium.ttf') format('truetype'),
   url('ProximaNova-Medium.svg#ProximaNova-Medium') format('svg');
   font-weight: 500;
   font-style: normal;
 }
 
 
 @font-face {
   font-family: 'Proxima Nova';
   src: url('ProximaNova-SemiBold.eot');
   src: url('ProximaNova-SemiBold.eot?#iefix') format('embedded-opentype'),
   url('ProximaNova-SemiBold.woff2') format('woff2'),
   url('ProximaNova-SemiBold.woff') format('woff'),
   url('ProximaNova-SemiBold.ttf') format('truetype'),
   url('ProximaNova-SemiBold.svg#ProximaNova-SemiBold') format('svg');
   font-weight: 600;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'Proxima Nova';
   src: url('ProximaNova-Bold.eot');
   src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
   url('ProximaNova-Bold.woff2') format('woff2'),
   url('ProximaNova-Bold.woff') format('woff'),
   url('ProximaNova-Bold.ttf') format('truetype'),
   url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
   font-weight: bold;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'Proxima Nova';
   src: url('ProximaNova-ExtraBold.eot');
   src: url('ProximaNova-ExtraBold.eot?#iefix') format('embedded-opentype'),
   url('ProximaNova-ExtraBold.woff2') format('woff2'),
   url('ProximaNova-ExtraBold.woff') format('woff'),
   url('ProximaNova-ExtraBold.ttf') format('truetype'),
   url('ProximaNova-ExtraBold.svg#ProximaNova-ExtraBold') format('svg');
   font-weight: 900;
   font-style: normal;
 }