@media only screen and (min-width: 1680px ) { 

/*---------------------------------- HEADER ----------------------------------*/
.nav_menu{
	width: 50vw;
	margin-left: 45vw;
}
.nav_menu li{
	font-size: 27px;
}

/*---------------------------------- HOME ----------------------------------*/
.home h1{
	font-size: 120px;
	padding-top: 22vh;
}
.home input{
	font-size: 35px;
	margin-top: 49px;
}
.home .order{
	height: 50px;
	margin-top: 54px;
	border-radius: 20px;
	font-size: 30px;
	border: none;
	width: 60%;
}

/*---------------------------------- ABOUT ----------------------------------*/

.about h2{
	font-size: 100px;
	margin-bottom: 20px;
}
.about img{
	width: 64px;
	margin-bottom: 20px;

}
.about h3{
	font-size: 40px;
	margin:15px 0;
}
.about p{
	margin: 20px 0;
	font-size: 30px
}
.about_block{
	height: 35vh;
}

/*--------------------------------- PROJECT ---------------------------------*/

/*--------------------------------- technologies ---------------------------------*/

.technologies .technologies_items img{
	width: 70px;
}
.technologies span{
	color: #fff;
	font-weight: 700;
	font-size: 40px;
}
.technologies p{
	font-size: 35px;
	color: #fff;
}
.technologies_items:hover span{
	color: #45d8e8;
}
/*--------------------------------- Contact ---------------------------------*/

.contact p.contact_title{
	font-size: 120px;
	width: 7ch;
	padding-top: 60px;
	margin-left: auto;
	margin-right: auto;
}
.contact .circle{
	width: 9px;
	height: 9px;
}
.contact a img{
	width: 60px;
}
.contact span{
	font-size: 30px;
}
.contact_order input{
	border-bottom: 2px solid #45d8e8;
	width: 80%;
}
.contact_order input::-webkit-input-placeholder {
    color: #aeaeae;
    font-size: 29px;
} 
.contact_order input::-moz-placeholder {
    color: #aeaeae;
    font-size: 29px;
}
.contact_order button{
	font-size: 27px;
	height: 60px;
	width: 80%;
	color: #fff;
}
/*End of min 1280px//////////////////////////////////////////////////////////////*/


@media only screen and (max-width: 1280px ) { 

/*---------------------------------- HEADER ----------------------------------*/
.nav_menu{
	width: 50vw;
	margin-left: 45vw;
}

/*---------------------------------- HOME ----------------------------------*/
.home h1{
	font-size: 46px;
}
.home input{
	margin-right: 40px;
	width: 39%;
}
.home .order{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 35px;
}
	
/*---------------------------------- ABOUT ----------------------------------*/
.about_block{
	height: 38vh;
	padding: 0;
}

/*--------------------------------- PROJECT ---------------------------------*/

/*--------------------------------- technologies ---------------------------------*/
.contact p.contact_title{
	width: 7ch;
	margin-left: auto;
	margin-right: auto;
}
.technologies .technologies_container{
	padding-top: 18px;
	max-width: 750px;
}
.technologies .technologies_items{
	width: calc(100%/3.2);
	
	margin-left: auto;
	margin-right: auto;
}
/*--------------------------------- Contact ---------------------------------*/
.contact ul{
	width:auto;
	padding: 0;
}
}
/*End of 1280px//////////////////////////////////////////////////////////////*/



@media only screen and (max-width: 992px ) { 


/*---------------------------------- HEADER ----------------------------------*/
.burger_menu{
	margin-left: 85vw
}

/*---------------------------------- HOME ----------------------------------*/
.home input{
	margin-right: 40px;
	margin-top: 20px;
	width: 100%;
	font-size: 20px;
}
.home .order{
	height: 35px;
	width: 100%	;
	margin-top: 30px;
}

/*---------------------------------- ABOUT ----------------------------------*/
.about_block{
	height: auto;
	margin-top: 30px;
}

/*--------------------------------- PROJECT ---------------------------------*/
.project{
	height: auto;
}
.project_block{
	width: 100%;
}
.project_block a{
	width: 45%;
}

/*--------------------------------- technologies ---------------------------------*/
.technologies{
	height: auto;
}
.technologies .container-fluid{
	height: auto;
	padding-bottom: 30px;
}
.technologies .technologies_container{
	height: auto;
}
.technologies .technologies_items{
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------- Contact ---------------------------------*/
.contact{
	height: auto;
}
.contact_order input{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.contact_order button{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

}
/*End of 992px//////////////////////////////////////////////////////////////*/


@media only screen and (max-width: 768px ) { 

/*---------------------------------- HOME ----------------------------------*/
.home h1{
	font-size: 50px;
}
.home input{
	margin-right: 40px;
	width: 50%;
	margin-top: 20px;
	font-size: 20px;
}
.home .order{
	height: 45px;
	font-size: 20px;
	width: 60%;
	margin-top: 50px;
	width: 50%;
}

/*---------------------------------- ABOUT ----------------------------------*/
.about{
	height: auto;
}
.about .container-fluid{
	height: auto;
}
.about_row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.about_block{
	height: 35vh;
}

/*--------------------------------- PROJECT ---------------------------------*/
.project{
	height: auto;
	padding-bottom: 20px;
}
p.project_title{
	font-size: 80px;
	margin:0 auto;
	width: 5ch;
	height: 20vh;
}
.project_block a{
	width: 40%	;
}

/*--------------------------------- technologies ---------------------------------*/
.technologies{
	height: auto;
}
.technologies .container-fluid{
	height: auto;
	padding-bottom: 30px;
}
.technologies .technologies_container{
	height: auto;
}
.technologies .technologies_items{
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------- technologies ---------------------------------*/
.contact{
	height: auto;
}
.contact p.contact_title{
	width: 7ch;
	margin: 0 auto
}
.contact_order button{
	width: 300px;
	margin: 0 auto;
}

}

/*END OF 768px///////////////////////////////////////////////////////////////*/


@media only screen and (max-width: 600px) {

/*--------------------------------- HOME ---------------------------------*/
.home h1{
	font-size: 30px;
}
.home input{
	margin-top: 50px;
	width: 80%;
}
.home button.order{
	width: 60%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

/*---------------------------------- ABOUT ----------------------------------*/
.about{
	height: auto;
}
.about .container-fluid{
	height: auto;
}
.about h2{
	font-size: 25px;
	margin: 0 auto;
	margin-top: 5vh;
}
.about_block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	height: 28vh;
	align-items: center;
}

/*----------------------------------- PRPJECT -----------------------------------*/
.project{
	height: auto;
	padding-bottom: 30px;
}
p.project_title{
	display: block;
	color: #fff;
	font-size: 50px;
	width: 5ch;
	margin: 0 auto;
	font-family: 'Josefin Sans', sans-serif;
	height: 60px;
}
.project_block{
	flex-direction: column;
	margin-top: 20px
}
.project_block a{
	display: block;
	width: 80%;
	height: auto;
	margin: 2%;
}

/*------------------------------ TECHNOLOGIES ------------------------------*/
.technologies{
	height: auto;
}
.technologies .container-fluid{
	height: auto;
	padding-bottom: 20px;
}
.technologies .technologies_items{
	margin-left: auto;
	margin-right: auto;
}
.technologies .technologies_container{
	height: auto;
}

/*--------------------------------- CONTACT ---------------------------------*/
.contact p.contact_title{
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 7ch;
}
.contact{
	height: auto;
}
.contact_order input{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.contact_order button{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

}
/*END for 660px //////////////////////////////////////////////////////////////////////////////////////*/

