body{
	box-sizing: border-box;
}
ul, li{
	text-decoration: none;
	list-style: none;
}
.row a{
	text-decoration: none;
}
.bsr{
	border: 1px solid red;
}
.row button{
	outline:none;
	background-color: transparent;
}
.row input{
	outline:none;
	background-color: transparent;
}
.none{
	display: none;
}
.block{
	display: block;
}

section{
	position: relative;
	z-index: 1;
}
/*HEADER-------------------------------------------------------------------------------------------*/
.header{
	position: relative;
	z-index: 99;
}
.nav_menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	width: 50vw;
	margin-left: 50vw;
	padding: 0;

}
.nav_menu li{
	display: block;
	margin: 0 10px;
	color: #fff;
	width: 100%;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;	
}
.nav_menu li:hover{
	color: #45d8e8;
}

.burger_menu{
	border: none;
	width: 15vw;
	margin-left: 75vw
}
.nav-md-menu{
	background-color: rgba(174,174,174,.5);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
}
.nav-md-menu a{
	font-size: 30px;
	text-transform: uppercase;
	color: #03151f;
	font-weight: 600;
}
.nav-md-menu a:hover{
    text-decoration: line-through;
    text-decoration-color: #fff;
}

/*PAGINATION--------------------------------------------------------------------------------------*/
.nav_arrow_row{
	position: fixed;
	width: 100%;
	bottom: 5vh;
	z-index: 99;
}
.nav_arrow button{
	border: none;
	height: 40px;
	width: 40px;
}
.nav_arrow button.left{
	background-image: url(../img/home/arrow-prev.png);
	background-size: cover;
}
.nav_arrow button.right{
	background-image: url(../img/home/arrow-next.png);
	background-size: cover;
}
.pagination .page{
	font-size: 30px;
	color: #fff;
}
.pagination .all_page{
	font-size: 18px;
	color: rgba(255,255,255,.5);
}
.pagination {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: baseline;
	justify-content: center;
}



/*HOME--------------------------------------------------------------------------------------------*/
section.home{
	background-image: url(../img/home/ice.jpg);
	width: 100%;
	height: auto;
	overflow-x: hidden;
}
.home .container-fluid{
	background-color: rgba(174,174,174,.2);
	height: 100vh;
}

.home h1{
	color: #fff;
	font-size: 60px;
	font-family: 'Nova Round', cursive;
	position: relative;
	/*top: 22vh;*/
	padding-top: 22vh;
	text-transform: uppercase;
}
.home input{
	background-color: transparent;
	border-bottom: 2px solid #fff;
	border-top: none;
	border-left: none;
	border-right: none;
	margin-right: 40px;
	width: 40%;
	outline:none;
	color: #fff;
	font-size: 20px;

}
.home input::-webkit-input-placeholder {
    color: #fff;
} 
.home input::-moz-placeholder {
    color: #fff;
}
.home .order{
	background-color: #45d8e8;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	height: 35px;
	border-radius: 20px;
	border: none;
	width: 60%;
}

/*ABOUT--------------------------------------------------------------------------------------------*/
.about{
	min-height: 100vh;
	background-image: url(../img/about/3c90f975773349.5c5624f975163.png);
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
}
.about .container-fluid{
	background-color: rgba(0,0,0,.8);
	height: 100vh;

}
.about h2{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	margin: 0 auto;
	margin-top: 5vh;
}

.about img{
	width: 32px;
}
.about h3{
	color: #fff;
	font-size: 22px
}
.about p{
	color: #585858;
	font-size: 15px
}
.about_block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	height: 28vh;
}
.about h3, .about p{
	margin-top: 10px;
	margin-bottom: 0;
	padding: 0;
}
.about .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}



/*PROJECT--------------------------------------------------------------------------------------*/

.project{
	background-image: url(../img/project/project.jpg);
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

p.project_title{
	color: #fff;
	font-size: 8vw;
	font-family: 'Josefin Sans', sans-serif;
	margin:0;
	height: 22vh;
}

.project_block{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

.project_block a{
	display: block;
	width: calc(100%/4);
	height: auto;
	margin: 2%;
}
.project_block img{
	display: block;
	width: 100%;
}
.project_block a:hover{
	
}
.project_block img:hover{
	filter: grayscale(1);
	box-shadow: 0 0 25px 5px #eaaeae;
}

/*------------------------------------ TECHNOLOGIES ------------------------------------*/


.technologies{
	background-image: url(../img/technologies/technologies.png);
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}
.technologies .container-fluid{
	background-color: rgba(0,0,0,.8);
	height: 100vh;
}

.technologies .technologies_container{
	max-width: 140vh;
	height: 80vh;
	margin-top: 10vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	flex-wrap: wrap;
}
.technologies .technologies_items{
	width: 45vh;
	height:38vh;
	background-color: rgba(69,216,232,.3);
	margin: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.technologies .technologies_items img{
	width: 50px;

}

.technologies span{
	color: #fff;
	font-weight: 700;
	font-size: 17px;
}

.technologies p{
	font-size: 16px;
	color: #fff;
}
.technologies_items:hover span{
	color:#45de8e;
}

/*------------------------------------------- CONTACT -------------------------------------------*/

.contact{
	/*background-image: url(../img/contact/contact.png);*/
	background-color: #161616;
	background-repeat: no-repeat;
	height: 100vh;
}
.contact p.contact_title{
	color: #fff;
	font-size: 70px;
	padding-top: 50px
}
.contact a img{
	width: 28px;
	filter: grayscale(1);

}
.contact span{
	color: #fff;
}
.contact a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	width: 100%;
}
.contact .circle{
	width: 6px;
	height: 6px;
	background-color: #aeaeae;
	border-radius: 50%;
	margin: 0 15px
}
.contact a:hover .circle{
	background-color: #45de8e;
	margin-left: 25px;
}
.contact a:hover img{
	filter: grayscale(0);
}
.contact ul{
	height: 50vh;
	margin-top: 1vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.contact_order{
	height: 50vh;
	margin-top: 1vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
}
.contact_order input{
	border: none;
	border-bottom: 1px solid #45de8e;
	background-color: transparent;
	color: #fff;
}
.contact_order input::-webkit-input-placeholder {
    color: #aeaeae;
    font-size: 18px;
} 
.contact_order input::-moz-placeholder {
    color: #aeaeae;
    font-size: 18px;
}
.contact_order button{
	border: 2px solid #45de8e;
	border-radius: 25px;
	height: 40px;
	font-size: 20px;
	color: #fff;
}



/*------------------------------------------- ANIMATED -------------------------------------------*/

/*ANIMATED_DELAY_ABOUT*/
.about .about_block_1 {
  animation-delay: .1s;
}
.about .about_block_2 {
  animation-delay: .2s;
}
.about .about_block_3 {
  animation-delay: .3s;
}
.about .about_block_4 {
  animation-delay: .4s;
}
.about .about_block_5 {
  animation-delay: .5s;
}
.about .about_block_6 {
  animation-delay: .6s;
}

/*ANIMATED_DELAY_PROJECT*/

.project_block_1 {
  animation-delay: .1s;
}
.project_block_2 {
  animation-delay: .2s;
}
.project_block_3 {
  animation-delay: .3s;
}
.project_block_4 {
  animation-delay: .4s;
}
.project_block_5 {
  animation-delay: .5s;
}
.project_block_6 {
  animation-delay: .6s;
}

/*ANIMATED_DELAY_TECHNOLOGIES*/

.technologies_items_1 {
  animation-delay: .1s;
}
.technologies_items_2 {
  animation-delay: .2s;
}
.technologies_items_3 {
  animation-delay: .3s;
}
.technologies_items_4 {
  animation-delay: .4s;
}
.technologies_items_5 {
  animation-delay: .5s;
}
.technologies_items_6 {
  animation-delay: .6s;
}

/*ANIMATED_DELAY_CONTACT*/

.contact_link_1 {
  animation-delay: .1s;
}
.contact_link_2 {
  animation-delay: .2s;
}
.contact_link_3 {
  animation-delay: .3s;
}
.contact_link_4 {
  animation-delay: .4s;
}
.contact_link_5 {
  animation-delay: .5s;
}
.contact_animated_1 {
  animation-delay: .1s;
}
.contact_animated_2 {
  animation-delay: .2s;
}
.contact_animated_3 {
  animation-delay: .3s;
}
