body{
	box-sizing: border-box;
}
ul, li{
	text-decoration: none;
	list-style: none;
}
.row a{
	text-decoration: none;
}
.bsr{
	border: 1px solid red;
}
.row button{
	outline:none;
	background-color: transparent;
}

section{
	position: relative;
	z-index: 1;
}

/*--------------------------------------------- HEADER ---------------------------------------------*/
.header{
	position: relative;
	z-index: 2;
}
.header .row_header{
	background-color: transparent;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	animation-duration:.5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	animation-name:;
}
@keyframes header_on {
	0%{
		background-color: transparent;
	}
	100%{
		background-color: #14171c;
	}
}
@keyframes header_off {
	0%{
		background-color: #14171c;
	}
	100%{
		background-color: transparent;
	}
}
.header .logo{
	width: 45px;
}
.header ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	margin-top: 6vh;
}
.header a{
	display: block;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	height: 5vh;
	color: #aeaeae;
	font-size: 2vh;
	letter-spacing: .5px;
	font-family: "raleway-heavy", sans-serif;
	font-weight: 700;
}
.header ul a:hover{
	color: #fff;
	border-bottom: 3px solid #05bca9;
}
.header button.scrollTop{
	display: none;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #048a7c;
	width: 10vh;
	height: 11vh;
	border: none;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	animation-name: scrollTop_off;
}
.header .scrollTop img{
	width: 20px;
}

/*--------------------------------------------- HOME ---------------------------------------------*/

.home{
	background-image: url(../img/intro-bg.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
button.play_button{
	background-image: url(../img/play-button.png);
	background-size: cover;
	width: 6vw;
	height: 6vw;
	border: none;
	margin-top: 15vh;
}
.home h1{
	font-size: 4vh;
    color: rgba(255, 255, 255, 0.6);
	text-align: center;
	margin-top: 5vh;

}
.home p{
	color: #fff;
	font-size: 9vh;
	text-align: center;
	font-family: 'Merriweather', serif;

}
.home button.learn_more{
	width: 100%;
	border: 3px solid #fff;
	height: 10vh;
	border-radius: 30px;
	font-size: 3vh;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}
.home button.learn_more:hover{
	border: 3px solid #05bca9;
	color: #05bca9;
}

/*---------------------------------------- PROCESS ----------------------------------------*/

.process h2.process_title{
	color: rgba(56, 66, 78, 0.5);
	font-size: 3vh;
	font-weight: 700;
	text-align:center;
	text-transform: uppercase;
	margin-top: 20vh;
}
.process p.process_subtitle{
	font-size: 8vh;
	font-family: 'Merriweather', serif;
	color: #000;
	text-align:center;
}
.process p.process_middle_text{
	text-align:center;
	color: #737373;
	font-family: 'Merriweather', serif;
}
.process .process_line{
	width: 20%;
	height: 3px;
	background-color: #05bca9;
	margin: 6vh auto 0 auto;
}
.process_block{
	margin-top: 10vh;
}
.process .process_item .number{
	width: 7vh;
	height: 7vh;
	border-radius: 50%;
	text-align:center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	vertical-align: middle;
	flex-direction: column;
	justify-content: center;
	background-color: #38424e;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;
	font-size: 4vh;
	color: #fff;
}
p.process_item-title{
	text-align: center;
	color: #05bca9;
	font-family: 'Raleway', sans-serif;
	font-size: 	3vh;
	font-weight: 550;
	margin-top: 3vh;
}
p.process_item-subtitle{
	text-align: center;
	color: #737373;
	font-family: 'Raleway', sans-serif;
	font-size: 	2.5vh;
	font-weight: 550;
	margin-top: 1vh;
	display: block;
	height: auto;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	line-height: 27px;
}
.process_img{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 20vh;
}


/*--------------------------------------- FEATURES ---------------------------------------*/

.features{
	background-image: url(../img/features/features-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: auto;
}
.features .features_title{
	font-size: 3vh;
	font-weight: 700;
	color: #888888;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	padding-top: 20vh;
}
.features .features_subtitle{
	font-size: 8vh;
	font-family: 'Merriweather', serif;
	color: #fff;
	text-align: center;
}
.features .features_middle_text{
	text-align: center;
	font-family: serif;
	color: #999;
	font-size: 3vh;
	font-weight: 500;
	margin-top: 1vh;
}
.features .features_line{
	width: 30%;
	height: 3px;
	background-color: #05bca9;
	margin: 6vh auto 0 auto;
}
.features .features_block{
	margin-top: 7vh;
	padding-bottom: 20vh;
}
.features .features_block_item{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	
}
.features_block img{
	display: block;
	width: 12%;
	margin: 0 auto;
	margin-top: 3vh;
}
.features .features_block .features_block_titles{
	color: #05bca9;
	font-size: 3vh;
	font-weight: 700;
	text-align: center;
	margin-top: 4vh;
}
.features .features_block .features_block_text{
	color: #fff;
	font-size: 3.2vh;
	text-align: center;
	line-height: 5vh;
	font-family: serif;
}


/*--------------------------------------- PRISING ---------------------------------------*/

.prising{
	background-color: #eaeaed;
	height: auto;
}
.prising .prising_title{
	font-size: 2.8vh;
	font-weight: 600;
	color: #91969d;
	text-align: center;
	margin-top: 17vh;
	margin-bottom: 0;
}
.prising .prising_subtitle{
	font-size: 8vh;
	font-weight: 600;
	color: #252525;
	text-align: center;
	font-family: 'Merriweather', serif;
}
.prising .prising_middle_text{
	font-size: 3vh;
	color: #91969d;
	text-align: center;
}
.prising .prising_title_line{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	height: 3px;
	background-color: #05bca9;
}
.prising .prising_item{
	width: 95%;
	background-color: #aea;
	color: #8b96a3;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	text-align: center;
}
.prising .prising_hover:hover .prising_item_top{
	background-color: #05bca9;
}
.prising .prising_item_top{
	background-color: #58687b;
	color: #fff;
	height: 40vh;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.prising .prising_item_bottom{
	background-color: #fff;
	height: 50vh;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	padding-top: 5vh; 
	margin-bottom: 6vh;

}
.prising h3{
	margin-top: 3vh;
	font-size: 4.2vh;
}
.prising_line{
	width: 30%;
	background-color: #fff;
	opacity: .3;
	margin-left: auto;
	margin-right: auto;
	height: 1px;
	margin-top: 3vh;
}
.prise_number{
	font-size: 7vh;
	font-family: "raleway-bold", sans-serif;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: stretch;
	align-items: stretch;
	justify-content: center;
	margin-top: 2vh;
}
.prise_number span{
	font-size: 4vh;
}
.per_month{
	font-size: 3vh;
	font-family: "raleway-bold", sans-serif;
}
.billed{
	color: #a7afb9;
	font-family: "raleway-bold", serif;
	margin-top: 1vh;
	font-size: 3.2vh;
}
.prising_item p{
	font-size: 2.5vh;
	font-weight: 600;
	color: #000;
	margin-top: 1vh;
}
.prising_item p span{
	color: #a2abb6;
}
.prising_item_line{
	width: 85%;
	height: 1px;
	background-color: #58687b;
	opacity: .2;
	margin-left: auto;
	margin-right: auto;
}
button.get_started{
	border: none;
	height: 8vh;
	background-color: #d8d8d8;
	width: 60%;
	font-size: 2.8vh;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4vh;
	color: #353f49;
	margin-top: 3vh;
}
button.get_started:hover{
	background-color: #58687b;
	color: #fff;
}

/*----------------------------------------- HEAR -----------------------------------------*/

.hear{
	height: 100vh;
	background-color: #fff;
}
.hear .hear_title{
	text-align: center;
	font-size: 4vh;
	color: #252525;
	font-family: 'Merriweather', serif;
	margin-top: 15vh;
}
.hear .hear_line{
	height: 2px;
	width: 40%;
	background-color: #05bca9;
	margin-left: auto;
	margin-right: auto;
} 
.hear .carousel{
	margin-top: 5vh;
	margin-bottom: 15vh;
}
.hear .carousel p.slide_p{
	color: #353f49;
	font-weight: 600;
	font-size: 3vh;
	text-align: center;
	margin-top: 1vh;
}
.hear .carousel span.slide_span{
	color: #58687b;
	font-weight: 600;
	font-size: 2.5vh;
	margin-top: 1vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.hear .carousel p.slide_text{
	display: block;
	height: 40vh;
	color: #8f8f8f;
	font-weight: 600;
	font-size: 4vh;
	text-align: center;
	margin-top: 1vh;
	font-family: "raleway-bold", sans-serif;
	line-height: 8vh;
}
.hear ol.carousel-indicators{
	padding-top: 35vh;
	height: 25vh;

}
.hear .carousel-indicators li{
	background-color: #fff;
	border: 3px solid #aeaeae;
	margin-top: 5vh;
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
}
.hear .carousel-indicators li.active{
	background-color: #05bca9;
	border: 3px solid #05bca9;
	border-radius: 50%;
}

/*------------------------------------- FAQ -------------------------------------*/

.faq{
	background-color: #eaeaed;
	height: auto;
	margin-top: 20vh;
	padding-bottom: 15vh;
}
.faq p.faq_title{
	font-size: 3vh;
	text-align: center;
	color: #888888;
	font-weight: 600;
	letter-spacing: 3px;
	margin-top: 10vh;
	padding-top: 10vh;
	margin-bottom: 0vh;
}
.faq p.faq_subtitle{
	font-size: 8vh;
	text-align: center;
	font-family: 'Merriweather', serif;
	color: #252525;
	font-weight: 600;
}
.faq p.faq_title_text{
	font-size: 3.5vh;
	text-align: center;
	font-family: serif;
	letter-spacing: 2px;
	color: #888;
}
.faq .faq_line{
	height: 2px;
	width: 30%;
	background-color: #05bca9;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.faq_block{
	margin-top: 5vh;
	padding: 0;
}
p.faq_block_title{
	color: #252525;
	font-size: 3.5vh;
	font-weight: bold;

}
p.faq_block_text{
	color: #737386;
	font-size: 3vh;
}
.faq_line_gray{
	background-color: #aeaeae;
	height: 2px;
	width: 100%;
	margin-top: 5vh;
	opacity: .1;
}
.faq p.faq_subtitle_bottom{
	font-size: 5vh;
	text-align: center;
	font-family: 'Merriweather', sans-serif;
	color: #252525;
	font-weight: 600;
	margin-top: 5vh;
}
.faq p.faq_title_text_bottom{
	font-size: 3vh;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-family: serif;
	letter-spacing: 2px;
	color: #888;
}
.faq p.faq_title_text_bottom span{
	color: #0087cc;
}
.faq button.sing_up{
	display: block;
	border: none;
	background-color: #05bca9;
	color: #fff;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 10vh;
	border-radius: 30px;
	font-size: 3vh;
	font-weight: bold;
	margin-top: 5vh;
}
.faq button.sing_up:hover{
	background-color: #048a7c;
}

/*------------------------------------- FAQ -------------------------------------*/

.get_started{
	background-color: #05bca9;
	height: auto;
}
.get_started_title{
	font-size: 5vh;
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-top: 13vh;
}
.get_started_subtitle{
	font-size: 3vh;
	color: #fff;
	text-align: center;
	font-weight: bold;
	opacity: .5;
}
.get_started button{
	margin-top: 10vh;
	background-color: #048a7c;
	width: 100%;
	color: #fff;
	border: none;
	border-radius: 6vh;
	height: 10vh;
	font-size: 3vh;
	font-weight: bold;
	margin-bottom: 10vh;
}

/*------------------------------------- FOOTER -------------------------------------*/

.footer{
	background-color: #171b23;
	height: auto;
}
.lhunder{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	width: 100%;
	vertical-align: center;
	align-items: center;
	color: #fff;
	height: 10vh;
}
.lhunder img{
	width: 50px;
}
.lhunder p{
	margin: 0;
	font-size: 3vh;
	margin-left: 20px;
}
.lhunder_text{
	color: #325166;
	font-size: 2.2vh;
}
.footer h3{
	color: #fff;
	font-size: 3vh;
	font-weight: bold;
}
.footer_line{
	width: 100%;
	background-color: #232933;
	height: 1px;
	opacity: 0.3;
	margin: 3vh 0;
}
.footer a{
	color: #465166;
	font-weight: bold;
	font-family: "raleway-bold", sans-serif;
	line-height: 5vh;
}
.footer li{
	color: #465166;
	font-family: "raleway-bold", sans-serif;
	line-height: 5vh;
}
.footer input{
	background-color: #232933;
	border: none;
	height: 10vh; 
	width: 100%;
	border-radius: 7px;
	padding: 0 15px;
	outline:none;
	color: #fff;
}
.footer input::-webkit-input-placeholder {
    color: #545454;
} 
.footer input::-moz-placeholder {
    color: #545454;
}
.copyright{
	width: 100%;
	background-color: #14181e;
	height: 12vh;
	margin-top: 5vh;
}
.copyright p{
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-size: 2.5vh;
	color: #465166;
	height: 12vh;
	margin: 0;
}
.copyright p span{
	color: #05bca9;
	margin-left: 1ch;
}
.copyright p .vertical_line{
	height: 2.5vh;
	width: 2px;
	opacity: .5;
	background-color: #1b2633;
	margin-right: 1ch;
}













