	/*color:#02a8f4;*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.d_f{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.j_c{
	justify-content: center;
}
.j_e{
	justify-content: flex-end;
}
.a_i{ 
align-items: center;
}

.home{
	background-image: url(../img/bgi.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
}
.header{
	width: 100%;
	cursor: pointer;
	position: fixed;
	top: 20px;
	z-index: 10;
}
.header a{
	padding: 0;
	margin-left: 15px;
	margin-right: 15px;
	flex-direction: column;
	color: 	#fc645f;
	width: 50px;
	font-weight: 500;
	font-size: 20px;
	font-family: 'Inconsolata', monospace;
}
.header a:hover{
	color: #fff;
	text-decoration:  line-through #fc645f ;
}
.home ul{
	margin-left: 7%;
}

/*изображения в HOME*/

img{
	z-index: 0;
	filter: blur(2px);
	position: absolute;
}
#i_1{
	top: 75%;
	left:15%;
	width: 15vh;
	height: 15vh;
	transform: rotate(15deg);
}
#i_2{
	top: 15%;
	left: 75%;
	width: 10vh;
	height: 10vh;
	transform: rotate(20deg);
}
#i_3{
	top: 65%;
	left: 35%;
	width: 7vh;
	height: 7vh;
	transform: rotate(-15deg);
}
#i_4{
	top: 85%;
	left: 85%;
	width: 10vh;
	height: 10vh;
	transform: rotate(20deg);
}
#i_5{
	top: 25%;
	left: 12%;
	width: 10vh;
	height: 10vh;
	transform: rotate(20deg);
}
#i_6{
	top: 75%;
	left: 62%;
	width: 15vh;
	height: 15vh;
	transform: rotate(20deg);
}

#i_7{
	top: 25%;
	left: 42%;
	width: 10vh;
	height: 10vh;
	transform: rotate(20deg);
}


h1{
	position: absolute;
	top:25%;
	left: 60%;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 100px;
	line-height: 120px;
}
.home span{
	color:#fc645f; 
}