@media only screen and (max-width: 1024px) {
.container{
	width: 990px;
	overflow: hidden;
}
.title{
	font-size: 29px;
	line-height: 42px;
}
.subtitle{
	line-height: 23px;
	font-size: 15px;
}
img.home_img{
	margin-left: 50px;
	width: 380px;
}
.home_btn{
	width: 350px;
	height: 50px;
}
/*------------------- WHY -------------------*/
/*------------------- WHY -------------------*/
/*------------------- WHY -------------------*/
section.why{
	padding-bottom: 70px;
	padding-top: 80px;
}
.why_items{
	margin-top: 70px;
}
/*----------------- GUEST -----------------*/
/*----------------- GUEST -----------------*/
/*----------------- GUEST -----------------*/
section.guest{
	padding-top: 50px;
	padding-bottom: 100px;
}
.guest-slider-nav button.slick-next{
	margin-right: 50px;
}
.result-slider_items{
	justify-content: space-around;
	margin-top: 40px;
}
.result-slider_item{
	width: 240px;
}
.result-slider button.slick-prev{
	margin-left: 20px;
}
.result-slider button.slick-next{
	margin-right: 20px;
}


/*--------------------------- REVIEW ---------------------------*/
/*--------------------------- REVIEW ---------------------------*/
/*--------------------------- REVIEW ---------------------------*/

.review button.slick-next{
	background-image: url(../img/next_arr.png);
	margin-right: 40px;
}
.review button.slick-prev{
	background-image: url(../img/prev_arr.png);
	margin-left: 40px;
}

/*------------------------- PARTNER -------------------------*/
/*------------------------- PARTNER -------------------------*/
/*------------------------- PARTNER -------------------------*/
section.partner{
	padding-top: 50px;
	padding-bottom: 50px;
}
img.logos_box_item{
	margin: 0 ;
}
/*------------------------- FOOTER -------------------------*/
/*------------------------- FOOTER -------------------------*/
/*------------------------- FOOTER -------------------------*/
p.footer_text{
	width: 460px;
}


/*POPUP1*/
.pop_up{
	width: 800px;
	height: 550px;
	margin-top: -150px;
	margin-left: 78px;
}
.pop_up_comntainer{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
}
p.pop_up_form_title{
	margin-top: 0;
}
.pop_up form{
	width: 700px;
	/*margin-top: -100px;*/
	align-items: center
}
.pop_up form button{
	height: 45px;
}
.guest-slider-for button.slick-next{
	float: right;
	margin-top: -200px;
	margin-right: 25px;
}

}


/*@media only screen and (max-width: 990px) {*/
/*@media only screen and (max-width: 990px) {*/
/*@media only screen and (max-width: 990px) {*/
@media only screen and (max-width: 990px) {
.container{
	width: 750px;
	overflow: hidden;
}
.title{
	font-size: 25px;
	line-height: 36px;
}
.subtitle{
	line-height: 18px;
	font-size: 15px;
}
.logo{
	width: 120px;
	height: auto;
}
section.home{
	padding-top: 100px;
	padding-bottom: 50px;
}
img.home_img{
	margin-left: 0px;
	width: 300px;
}
.home_btn{
	width: 350px;
	height: 50px;
}
p.home_subtitle{
	width: 450px;
	margin-top: 30px;
}
nav ul{
	width: 400px;
}
.contact{
	width: 200px;
	height: 30px;
}
a.contact_number{
	font-size: 15px;
}
/*------------------- WHY -------------------*/
/*------------------- WHY -------------------*/
/*------------------- WHY -------------------*/
section.why{
	padding-bottom: 70px;
	padding-top: 80px;
}
.why_items{
	margin-top: 40px;
}
/*----------------- GUEST -----------------*/
/*----------------- GUEST -----------------*/
/*----------------- GUEST -----------------*/
section.guest{
	padding-top: 30px;
	padding-bottom: 70px;
}
.guest-slider-nav button.slick-next{
	margin-right: 50px;
}
.result-slider_items{
	margin-top: 40px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
}
.result-slider_item{ 
	margin: 15px;
}
.result-slider_item{
	width: 240px;
}
.result-slider button.slick-prev{
	margin-left: 80px;
}
.result-slider button.slick-next{
	margin-right: 80px;
}
/*--------------------------- REVIEW ---------------------------*/
/*--------------------------- REVIEW ---------------------------*/
/*--------------------------- REVIEW ---------------------------*/
.review_slide{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center !important;
}
.review_item{
	margin-top: 50px;
}
.review button.slick-next{
	background-image: url(../img/next_arr.png);
	margin-right: 40px;
}
.review button.slick-prev{
	background-image: url(../img/prev_arr.png);
	margin-left: 40px;
}
.review-slider ul.slick-dots{
	top: 10px
}

/*------------------------- PARTNER -------------------------*/
/*------------------------- PARTNER -------------------------*/
/*------------------------- PARTNER -------------------------*/
section.partner{
	padding-top: 0px;
	padding-bottom: 50px;
}
img.logos_box_item{
	margin: 0;
}
.logos_box{
	margin-top: 0px;
}
/*------------------------- FOOTER -------------------------*/
/*------------------------- FOOTER -------------------------*/
/*------------------------- FOOTER -------------------------*/
p.footer_text{
	width: 420px;
	font-size: 13px
}
/*------------------------ CONSULTATION ------------------------*/
/*------------------------ CONSULTATION ------------------------*/
/*------------------------ CONSULTATION ------------------------*/
section.consultation{
	padding-bottom: 80px;
	padding-top: 50px;
}
form{
	width: 750px;
}
.form_item{
	width: 200px;
	height: 37px;
}



/*POPUP1*/
.pop_up{
	width: 650px;
	height: 480px;
	margin-top: -150px;
	margin-left: 35px;
}
.guest-slider-for p.guest_item_title{
	font-size: 15px;
	margin-top: 10px;
	line-height: 15px;
}
.guest-slider-for p.guest_item_subtitle{
	font-size: 15px;
	margin-top: 0;
	line-height: 15px;
}
.guest-slider-for_item{
	align-items: flex-start;
}
.guest-slider-for_text p{
	position: relative;
	top: 0;
	font-size: 15px;
	line-height: 17px;
}
p.guest-slider-for_text_1{
	margin-top: 60px;
}
.pop_up_comntainer{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
}
p.pop_up_form_title{
	margin-top: 0;
}
.pop_up form{
	width: 550px;
	align-items: center
}
.pop_up form button{
	height: 34px;
}
.pop_up form .form_item{
	width: 150px;
}
.guest-slider-for button.slick-next{
	float: right;
	margin-top: -200px;
	margin-right: 25px;
}
img.seo_img{
	margin-top: 58px;
}


}



/*@media only screen and (max-width: 750px) {*/
/*@media only screen and (max-width: 750px) {*/
/*@media only screen and (max-width: 750px) {*/
@media only screen and (max-width: 750px) {
.container{
	width: 540px;
	overflow: hidden;
}
section.d_none_750{
	display: none !important;
}

section.d_block_750{
	display: block !important;
}
h1.title{
	width: 500px;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.title{
	font-size: 20px;
	line-height: 36px;
}
.subtitle{
	line-height: 18px;
	font-size: 15px;
}
.logo{
	width: 120px;
	height: auto;
}
section.home{
	padding-top: 100px;
	padding-bottom: 50px;
}
.home_container{
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
img.home_img{
	margin-top: 20px;
}
button.home_btn{
	width: 350px;
	height: 50px;
	margin-top: 20px;
}
p.home_subtitle{
	width: 400px;
	text-align: center;
	margin-top: 30px;
}
header .container{
	overflow-y: visible;
}
header .header_row{
	overflow-y: visible;
}
header .logo{
	display: none;
}
nav{
	width: 210px;
	height: 0px;
	top: 0;
	left: 0;
}
nav ul.nav_menu{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	background-color: transparent;
	width: 210px;
	/*height: 260px;*/
	height: 80px;
	border-radius: 6px;
	justify-content: flex-start;
	position: absolute;
	top: 10px;
	left: 25px;
}
ul.nav_menu a{
	color: #fff;
	margin-left: 15px;
}
ul.nav_menu li{
	padding-bottom: 30px;
	display: none;
}
.burger_menu{
	background-image: url(../img/menu.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: center;
	width: 30px;
	height: 30px;
	/*margin-bottom: 58px;*/
	margin-top: 15px;
	margin-left: 15px;
	/*display: block;*/
}
.close_menu{
	background-image: url(../img/heaader_close.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 30px;
	height: 30px;
	margin-bottom: 58px;
	margin-top: 15px;
	margin-left: 15px;
	display: none;
}
.header_row{
	justify-content: flex-end;

}
.contact{
	width: 200px;
	height: 30px;
}
a.contact_number{
	font-size: 15px;
}
/*------------------- WHY -------------------*/
/*------------------- WHY -------------------*/
/*------------------- WHY -------------------*/
section.why{
	padding-bottom: 70px;
	padding-top: 80px;
}
h2.why_title{
	width: 500px;
}
.why_items{
	margin-top: 40px;
}
/*----------------- GUEST -----------------*/
/*----------------- GUEST -----------------*/
/*----------------- GUEST -----------------*/
section.guest{
	padding-top: 30px;
	padding-bottom: 70px;
}
.guest-slider-nav button.slick-next{
	margin-right: 50px;
}
h2.guest_title{
	width: 540px;
	text-align: center;
	
}
.result-slider_items{
	margin-top: 40px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
}
.result-slider_item{ 
	margin: 15px;
}
.result-slider_item{
	width: 240px;
}
.result-slider button.slick-prev{
	margin-left: 80px;
}
.result-slider button.slick-next{
	margin-right: 80px;
}
/*--------------------------- REVIEW ---------------------------*/
/*--------------------------- REVIEW ---------------------------*/
/*--------------------------- REVIEW ---------------------------*/
.review_slide{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center !important;
}
.review_item{
	margin-top: 50px;
}
p.review_item_text{
	width: 400px;
	margin-top: 15px;
}
.review button.slick-next{
	margin-right: 15px;
}
.review button.slick-prev{
	margin-left: 15px;
}

/*------------------------- PARTNER -------------------------*/
/*------------------------- PARTNER -------------------------*/
/*------------------------- PARTNER -------------------------*/
section.partner{
	padding-top: 0px;
	padding-bottom: 50px;
}
img.logos_box_item{
	margin: 0;
}
.logos_box{
	margin-top: 0px;
}/*------------------------ CONSULTATION ------------------------*/
/*------------------------ CONSULTATION ------------------------*/
/*------------------------ CONSULTATION ------------------------*/
section.consultation{
	padding-bottom: 80px;
	padding-top: 50px;
}
form{
	width: 540px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
}
.form_item{
	width: 358px;
	height: 50px;
	margin-top: 28px;
}
/*------------------------- FOOTER -------------------------*/
/*------------------------- FOOTER -------------------------*/
/*------------------------- FOOTER -------------------------*/
footer.footer{
	height: 330px;
}
p.footer_text{
	width: 358px;
	font-size: 18px;
	line-height: 23px;
	margin-top: 30px;
}
.footer_container{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: flex-start;
}
.contact_footer{
	width: 358px;
	height: 50px;
	margin-bottom: 50px;
	margin-top: 45px;
}
a.contact_footer_number{
	font-size: 18px;
}
img.footer_logo{
	width: auto;
	margin-left: 91px;
}


/*POPUP1*/
.pop_up{
	width: 550px;
	height: 480px;
	margin-top: -150px;
	margin-left: 35px;
}
p.guest-slider-for_text_1{
	font-size: 12px;
}
p.guest-slider-for_text_2{
	font-size: 12px;
}
.pop_up_comntainer{
	width: 500px;
}
p.pop_up_form_title{
	margin-top: 0;
}
.pop_up form{
	width: 500px;
	align-items: center;
	margin-top: 0;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}
.pop_up form .form_item{
	width: 150px;
	height: 40px;
}
.pop_up form button{
	height: 34px !important;
}
.guest-slider-for button.slick-next{
	float: right;
	margin-top: -200px;
	margin-right: 25px;
}
img.seo_img{
	margin-top: 58px;
}
.pop_up p.guest_item_title,
.pop_up p.guest_item_subtitle{
	font-size: 12px
}
}

/*@media only screen and (max-width: 540px) {*/
/*@media only screen and (max-width: 540px) {*/
/*@media only screen and (max-width: 540px) {*/
@media only screen and (max-width: 540px) {
.container{
	width: 460px;
	overflow: hidden;
}
section.d_none_750{
	display: none !important;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
nav ul.nav_menu{
	z-index: 100;
	position: absolute;
}
.pop_up{
	z-index: 300;
	position: absolute;
}
.guest_item{
	position: relative;
	z-index: 280;
}
.title{
	font-size: 18px;
	line-height: 26px;
}
.subtitle{
	line-height: 23px;
	font-size: 18px;
}
.logo{
	width: 120px;
	height: auto;
}
section.home{
	padding-top: 146px;
	padding-bottom: 50px;
}
.home_container{
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
img.home_img{
	margin-top: 20px;
}
button.home_btn{
	width: 350px;
	height: 50px;
	margin-top: 65px;
}
p.home_subtitle{
	width: 361px;
	text-align: left;
	margin-top: 30px;
}
.header_row{
	justify-content: space-between;
}
.contact{
	width: 166px;
	height: 36px;
}
a.contact_number{
	font-size: 13px;
}
h1.title{
	width: 361px;
}
/*------------------- WHY -------------------*/
/*------------------- WHY -------------------*/
/*------------------- WHY -------------------*/
section.why{
	padding-bottom: 70px;
	padding-top: 80px;
}
h2.why_title{
	width: 354px;
	text-align: left;
}
.why_items{
	margin-top: 40px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.why_item{
	width: 354px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 54px;
}
p.why_item_title{
	width: 297px;
}
p.why_item_subtitle{
	width: 354px;
}
/*----------------- GUEST -----------------*/
/*----------------- GUEST -----------------*/
/*----------------- GUEST -----------------*/
section.guest{
	padding-top: 30px;
	padding-bottom: 70px;
}
.guest-slider-nav button.slick-next{
	margin-right: 50px;
}
h2.guest_title{
	width: 460px;
	text-align: center;
	
}
.result-slider_items{
	margin-top: 40px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
}
.result-slider_item{ 
	margin: 15px;
}
.result-slider_item{
	width: 240px;
}
.result-slider button.slick-prev{
	margin-left: 80px;
}
.result-slider button.slick-next{
	margin-right: 80px;
}
/*--------------------------- REVIEW ---------------------------*/
/*--------------------------- REVIEW ---------------------------*/
/*--------------------------- REVIEW ---------------------------*/
.review_slide{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center !important;
}
.review-slider{
	margin-top: 45px;
}
.review_item{
	margin-top: 18px;
}
p.review_title{
	text-align: left;
	font-size: 18px;
}
p.review_item_text{
	width: 400px;
	margin-top: 15px;
}
.review button.slick-next{
	margin-right: 60px;
	top: 122px;
	background-image: url(../img/Group_6_next.png);
	width: 19px;
	height: 32px;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.review button.slick-prev{
	margin-left: 60px;
	top: 122px;
	background-image: url(../img/Group_6_prev.png);
	width: 19px;
	height: 32px;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
p.review_subtitle{
	margin-top: 0px;
	text-align: center;
}
p.review_item_text{
	margin-top: 45px;
	width: 358px;
	line-height: 27px;
}
/*------------------------- PARTNER -------------------------*/
/*------------------------- PARTNER -------------------------*/
/*------------------------- PARTNER -------------------------*/
section.partner{
	padding-top: 0px;
	padding-bottom: 50px;
}
img.logos_box_item{
	margin: 0;
}
.logos_box{
	margin-top: 0px;
}
p.partner_title{
	width: 266px;
	margin-left: auto;
	margin-right: auto;
}

/*------------------------ CONSULTATION ------------------------*/
/*------------------------ CONSULTATION ------------------------*/
/*------------------------ CONSULTATION ------------------------*/
section.consultation{
	padding-bottom: 80px;
	padding-top: 50px;
}
p.consultation_title{
	width: 358px;
	margin-left: auto;
	margin-right: auto;
	
}
form{
	width: 358px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
}
.form_item{
	width: 358px;
	height: 50px;
	margin-top: 28px;
}
/*------------------------- FOOTER -------------------------*/
/*------------------------- FOOTER -------------------------*/
/*------------------------- FOOTER -------------------------*/
img.footer_logo{
	width: auto;
	margin-left: 50px;
}


/*POPUP1*/
.pop_up{
	width: 425px;
	height: auto;
	margin-top: -150px;
	margin-left: 15px;
	padding-bottom: 25px;
	z-index: 300;
}
.pop_up_comntainer{
	width: 357px;
	padding-top: 0px;
}
.guest-slider-for_item{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.pop_up .guest_item{
	height: 190px;
}
p.guest-slider-for_text_1{
	font-size: 18px;
	line-height: 23px;
	width: 340px;
	padding-left: 0px;
	margin-top: 180px;
}
p.guest-slider-for_text_2{
	font-size: 18px;
	line-height: 23px;
	width: 340px;
	padding-left: 0px;
	margin-top: 10px;
}
.pop_up_comntainer{
	width: 358px;
}
.pop_up img.guest_img{
	margin-left: 0;
	margin-top: 120px;
}
p.pop_up_form_title{
	margin-top: 33px;
}
p.pop_up_form_subtitle{
	margin-top: 33px;
}
.pop_up form{
	width: 358px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.pop_up form .form_item{
	width: 357px;
	height: 50px;
}
.pop_up button.close{
	margin-right: 320px;
	margin-top: 22px;
	z-index: 150;
	position: relative;
}
.pop_up form button{
	width: 357px;
	height: 50px !important;
}
.guest-slider-for button.slick-next{
	float: right;
	margin-top: -630px;
	margin-right: 270px;
}
.pop_up img.seo_img{
	margin-top: 135px;
}
.pop_up p.guest_item_title,
.pop_up p.guest_item_subtitle{
	font-size: 18px;
	line-height: 23px;
	padding-left: 0;
}
}

/*@media only screen and (max-width: 460px) {*/
/*@media only screen and (max-width: 460px) {*/
/*@media only screen and (max-width: 460px) {*/
@media only screen and (max-width: 460px) {
.container{
	width: 330px;
	overflow: hidden;
}
section.d_none_750{
	display: none !important;
}
.d_block_none_750{
	display: none !important;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.title{
	font-size: 18px;
	line-height: 26px;
}
.subtitle{
	line-height: 23px;
	font-size: 18px;
}
.logo{
	width: 120px;
	height: auto;
}
section.home{
	padding-top: 100px;
	padding-bottom: 50px;
}
p.home_subtitle{
	width: 330px;
	text-align: left;
	margin-left: 0px;
	margin-top: 30px;
}
h1.title{
	width: 330px;
}
/*------------------- WHY -------------------*/
/*------------------- WHY -------------------*/
/*------------------- WHY -------------------*/
section.why{
	padding-bottom: 70px;
	padding-top: 80px;
}
h2.why_title{
	width: 330px;
	text-align: left;
}
.why_items{
	margin-top: 20px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.why_item{
	width: 330px;
	margin-top: 54px;
}
p.why_item_title{
	width: 297px;
}
p.why_item_subtitle{
	width: 330px;
}
/*----------------- GUEST -----------------*/
/*----------------- GUEST -----------------*/
/*----------------- GUEST -----------------*/
section.guest{
	padding-top: 30px;
	padding-bottom: 70px;
}
.guest-slider-nav button.slick-next{
	margin-right: 50px;
}
h2.guest_title{
	width: 330px;
	text-align: left;
	
}
.result-slider_items{
	margin-top: 40px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
}
.result-slider_item{ 
	margin: 15px;
}
.result-slider_item{
	width: 240px;
}
.result-slider button.slick-prev{
	margin-left: 80px;
}
.result-slider button.slick-next{
	margin-right: 80px;
}


/*--------------------------- RESULT ---------------------------*/
/*--------------------------- RESULT ---------------------------*/
/*--------------------------- RESULT ---------------------------*/

.result-slider button.slick-prev{
	margin-left: 20px;
}
.result-slider button.slick-next{
	margin-right: 20px;
}

.result-slider button.slick-prev:before{
	content: '';
}
.result-slider button.slick-next:before{
	content: '';
}

/*--------------------------- REVIEW ---------------------------*/
/*--------------------------- REVIEW ---------------------------*/
/*--------------------------- REVIEW ---------------------------*/
.review_slide{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center !important;
}
.review-slider{
	margin-top: 45px;
}
.review_slide_logo{
	margin-right: 0;	
}
.review_slide_logo img{
	margin-top: 10px;
	float: left;
	width: 125px;
	height: 58px;
}
.review_slide{
	display: block;
}
.review_slide_logo img.like_logo{
	margin-top: 10px;
	height: 80px;
	width: 80px;
	margin-left: -50px;
}
.review_item{
	width: 330px;	
	margin-top: 18px;
}
p.review_title{
	text-align: left;
	font-size: 18px;
}
p.review_subtitle{
	/*width: 340px;	*/
	text-align: center;
	font-size: 18px;
}
p.review_item_text{
	margin-top: 45px;
	width: 330px;
	line-height: 27px;
}
.review button.slick-next{
	margin-right: 60px;
	top: 122px;
	background-image: url(../img/Group_6_next.png);
	width: 19px;
	height: 32px;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	right: -60px ;
	/*qwe*/

}
.review button.slick-prev{
	margin-left: 60px;
	top: 122px;
	background-image: url(../img/Group_6_prev.png);
	width: 19px;
	height: 32px;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	left: -60px  ;
	/*qwe*/

}
p.review_subtitle{
	margin-top: 0px;
	text-align: center;
}
/*------------------------- PARTNER -------------------------*/
/*------------------------- PARTNER -------------------------*/
/*------------------------- PARTNER -------------------------*/
section.partner{
	padding-top: 0px;
	padding-bottom: 50px;
}
img.logos_box_item{
	margin: 0;
}
.logos_box{
	margin-top: 0px;
}
p.partner_title{
	width: 266px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}
.logos_box_item{
	margin-top: 25px;
}
.logos_box_item_1{
	width: 200px;
}
.logos_box_item_2{
	width: 280px;
}
.logos_box_item_3{
	width: 180px;
}
.logos_box_item_4{
	width: 200px;
}
.logos_box_item_5{
	width: 280px;
}

/*------------------------ CONSULTATION ------------------------*/
/*------------------------ CONSULTATION ------------------------*/
/*------------------------ CONSULTATION ------------------------*/
section.consultation{
	padding-bottom: 80px;
	padding-top: 50px;
}
p.consultation_title{
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	text-align: start;
	padding-bottom: 17px;
	
}
form{
	width: 330px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
}
.form_item{
	width: 330px;
	height: 50px;
	margin-top: 28px;
}
/*------------------------- FOOTER -------------------------*/
/*------------------------- FOOTER -------------------------*/
/*------------------------- FOOTER -------------------------*/
img.footer_logo{
	width: auto;
	margin-left: 0px;
	margin-top: 30px;
}
p.footer_text{
	width: 330px;	
}
.contact_footer{
	width: 325px;
	height: 50px;
}
.container_for_slider{
	width: 460px;
}
.guest-slider-nav button.slick-next{
	right: 90px;
}

/*POPUP1*/
.pop_up{
	width: 330px;
	height: auto;
	margin-top: -150px;
	padding-bottom: 25px;
	margin-left: 60px;
	left: 0px;
	overflow: hidden;
	padding-left: 15px;
}
.pop_up_comntainer{
	width: 300px;
	padding-top: 0px;
}
.pop_up .guest_item{
	height: 190px;
}
p.guest-slider-for_text_1{
	font-size: 18px;
	line-height: 23px;
	width: 340px;
	padding-left: 0px;
	margin-top: 180px;
}
p.guest-slider-for_text_2{
	font-size: 18px;
	line-height: 23px;
	width: 340px;
	padding-left: 0px;
	margin-top: 10px;
}
.pop_up_comntainer{
	width: 358px;
}
.pop_up img.guest_img{
	margin-left: 0;
	margin-top: 120px;
}
p.pop_up_form_title{
	margin-top: 33px;
}
p.pop_up_form_subtitle{
	margin-top: 33px;
}
.pop_up form{
	width: 300px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-left: 0;
	margin-right: 0;
}
p.guest-slider-for_text_1{
	width: 300px;
}
p.guest-slider-for_text_2{
	width: 300px;
}
.pop_up form .form_item{
	width: 300px;
	height: 50px;
}

p.pop_up_form_title{
	width: 300px;
	padding: 0;
}
.pop_up button.close{
	margin-right: 320px;
	margin-top: 22px;
	z-index: 300;
	position: relative;
}
.pop_up form button{
	width: 300px;
	height: 50px !important;
}
.guest-slider-for button.slick-next{
	float: right;
	margin-top: -653px;
	margin-right: 250px;
}
.pop_up img.seo_img{
	margin-top: 135px;
}
.pop_up p.guest_item_title,
.pop_up p.guest_item_subtitle{
	font-size: 15px;
	line-height: 23px;
	padding-left: 0;
}
}

@media only screen and (max-width: 420px) {
	.pop_up{
		margin-left: 45px;
	}
	p.review_item_text{
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.logos_box_item_5{
		margin-top: 0;
	}
	p.consultation_title{
		width: 300px;
	}
	.form_item{
		width: 300px;
	}
	p.footer_text{
		width: 300px;
		font-size: 17px;
	}
	.contact_footer{
		width: 300px;
	}
	img.footer_logo{
		margin-left: 15px;
	}
}
@media only screen and (max-width: 400px) {
	.pop_up{
		margin-left: 15px;
	}
}
@media only screen and (max-width: 360px) {
	.pop_up{
		margin-left: 5px;
	}
}
@media only screen and (max-width: 350px) {
	.pop_up{
		width: 320px;
		margin-left: 10px;
		padding-left: 10px;
	}
	.pop_up form{
		width: 310px;
	}
}



