@media only screen and (min-width: 1140px ) and (max-width: 1349px){ 
.section{
	width: 1140px;
}
.container{
	width: 1000px;
}
/*------------------------- 2014 Years -------------------------*/
.years_slider{
	width: 400px;
	height: 400px;
}
.slider_for img{
	width: 400px;
	height: 258px;
}
.slider_for{
	padding-bottom: 18px;
}
.slider_nav img{
	width: 110px;
	height: 71px;
}
.slider_nav{
	width: 400px;
	height: 299px;
}
.years_main{
	width: 550px;
	float: left;
	margin-left: 40px;
}
section .years_main_check{
	background-image: url(../img/Group_check.png);
	width: 550px;
	height: 341px;
	margin-top: 17px;
}
li.years_item p{
	font-size: 16px;
}
img.years_item_img{
	width: 50px;
	height: 50px;
}
/*---------------------------- WRING ----------------------------*/
img.right_side_img{
	width: 350px;
	margin-top: -50px;
	z-index: 0;
}
/*---------------------------- IDEA ----------------------------*/
.idea_container .draggable{
	width: 600px;
	height: 222px;
}
.idea_slider img{
	width: 300px !important;
	height: 222px;
}
}
/*/////////////////////////// 1140-PX ///////////////////////////*/

@media only screen and (max-width: 1140px){ 
.section{
	width: auto;
}
.container{
	width: 990px;
}
/*------------------------- 2014 Years -------------------------*/
.years_slider{
	width: 400px;
	height: 400px;
}
.slider_for img{
	width: 400px;
	height: 258px;
}
.slider_for{
	padding-bottom: 18px;
}
.slider_nav img{
	width: 125px;
	height: 81px;
}
.slider_nav{
	width: 400px;
	height: 299px;
}
.years_main{
	width: 550px;
}
section .years_main_check{
	width: 550px;
	height: 341px;
}
li.years_item p{
	font-size: 16px;
}
img.years_item_img{
	width: 50px;
	height: 50px;
}
/*---------------------------- WRING ----------------------------*/

img.right_side_img{
	width: 350px;
	margin-top: -50px;
	z-index: 0;
}
/*---------------------------- d3 ----------------------------*/
.d3_main{
	margin-left: 420px;
}
/*---------------------------- IDEA ----------------------------*/
.idea_container .draggable{
	width: 600px;
	height: 222px;
}
.idea_container {
	margin-top: 0;
}
.idea_container_right{
	margin-left: 10px;
	height: 200px;
}
.idea_slider img{
	width: 300px !important;
	height: 222px;
}
p.idea_container_text{
	width: 258px;
	font-size: 10px;
}
p.idea_container_item{
	font-size: 13px;
	line-height: 20px;
}


/*--------------------------- GLAZING ---------------------------*/
section.gleazing{
	background-position: -120px;
}
.gleazing_margin{
margin-left: 50px;
}
/*---------------------------- STEP ----------------------------*/
.step_block{
	width: 800px;
}
img.line1{
	width: 700px;
}
/*<!--------------------------- CALC --------------------------->*/
.calc_container{
	margin-left: 160px;
}
img.calc_right_img{
	height: 200px;
}
}


/*-------------------//////// 990-PX ////////-------------------*/
@media only screen and (max-width: 990px){ 
.section{
	width: auto;
}
.container{
	width: 720px;
}
/*------------------------- HEADER -------------------------*/
img.logo{
	width: 180px;
	margin-left: 10px;
}
p.phone_number{
	font-size: 20px;
}
p.operation_mode{
	font-size: 12px;
}
.header_button_call{
	width: 170px;
	height: 40px;
}
img.header_button_call_img{
	width: 19px;
	height: 19px;
}
p.header_button_call_text{
	font-size: 12px;
}
/*-------------------------- DEGREE --------------------------*/
section.degree{
	background-position-y: -70px;
	background-position-x: -70px;
}
.degree_main{
	margin-left: 40%;
}
.get_present{
	width: 605px;
	margin-left: auto;
	margin-right: auto;
}
/*------------------------- 2014 Years -------------------------*/
section.years{
	height: 458px;
}
.years_slider{
	width: 300px;
	height: 320px;
	margin-left: 10px;
}
.slider_for img{
	width: 300px;
	height: 194px;
}
.slider_for{
	padding-bottom: 18px;
}
.slider_nav img{
	width: 90px;
	height: 58px;
}
.slider_nav{
	width: 300px;
	height: 299px;
}
.years_main{
	width: 340px;
}
p.years_main_title{
	font-size: 16px;
	line-height: 22px;
}
section .years_main_check{
	width: 350px;
	height: 220px;
}
li.years_item p{
	font-size: 14px;
}
img.years_item_img{
	width: 40px;
	height: 40px;
}
p.years_item_text{
	margin-left: 10px;
}
/*---------------------------- WRING ----------------------------*/
section.wiring{
	height: 350px;
}
.wiring_check{
	margin-left: 15px;
}
p.wiring_title{
	font-size: 20px;
}
.wiring_check{
	width: 400px;
	height: 250px;
}
p.wiring_check_title{
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 0;
}
p.wiring_check_subtitle{
	margin-top: 15px;
	font-size: 13px;
	margin: 0px;
}
.wiring .wiring_check_input{
	justify-content: space-around;
}
.wiring .input_item{
	width: 140px;
	height: 34px;
}
.wiring .input_item input{
	width: 80px;
}
.wiring .present_input_button{
	width: 160px;
	height: 40px;
}
.wiring .present_input_button p{
	font-size: 9px;
}
.wiring .present_input_button>img{
	width: 22px;
	height: 22px;
}
.wring_main_right{
	width: 175px;
	height: 250px;
	margin-left: 10px;
}
.wring_main_right_item p{
	font-size: 11px;
	line-height: 16px;
}
.wring_main_right_item img{
	width: 50px;
	height: 50px;
}
img.right_side_img{
	margin-top: -20px;
	width: 200px;
}

/*---------------------------- d3 ----------------------------*/
section.d3{
	height: 370px;
	-ms-align-items: center;
	align-items: center;
}
img.d3_circle{
	width: 220px;
}
.d3_main{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}
.d3_main_right{
	height: 250px;
}
p.d3_main_text{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	margin-top: 0;
	color: #404040;
}
/*---------------------------- IDEA ----------------------------*/
section.idea{
	padding-bottom: 0px;
}
p.idea_title{
	margin-left: 0;
	text-align: center;
}
.idea_container{
	-ms-align-items: center;
	align-items: center;
}
.idea_container .draggable{
	width: 400px;
	height: 148px;
}
.idea_slider img{
	width: 200px !important;
	height: 148px;
}
.idea_container_right{
	height: 220px;
}
p.idea_container_text{
	width: 200px;
	font-size: 17px;
}
p.idea_container_item{
	font-size: 10px;
	line-height: 17px;
	margin: 0px;
}
button.idea_button{
	width: 150px;
	height: 36px;
	justify-content: center;
	font-size: 15px;
	color: #FF4F50;
	font-weight: bold;
}
/*--------------------------- GLAZING ---------------------------*/
section.gleazing{
	height: 350px;
}
p.gleazing_title{
	font-size: 27px;
	padding-top: 30px;
	font-weight: bold;
}
p.gleazing_text{
	margin-top: 10px;
	font-size: 14px;
	line-height: 19px;
}
.gleazing_img_items{
	width: 110px;
	height: 110px;
}
.gleazing_img{
	width: 500px;
}
/*---------------------------- SPARE ----------------------------*/
section.spare{
	margin-top: 20px;
	margin-bottom: 0px;
}
p.spare_container_title{
	line-height: 25px;
	font-size: 23px;
}
p.spare_container_text{
	margin-top: 17px;
	font-size: 12px;
}
/*---------------------------- STEP ----------------------------*/
p.step_title{
	margin-top: 0;
}
.step_block_item p{
	margin-bottom: 0;
	font-size: 10px;
}
.step_block{
	width: 600px;
}
img.line1{
	width: 550px;
	margin-top: 42px;
}
img.step_block_img{
	width: 90px;
	height: 90px;
}
.step_block_item5::after{
	content: url(../img/Arrow720.png);
	height: 1px;
	width: 8px;
	position: absolute;
	margin-top: 40px;
	z-index: -1;
	margin-left: 40px;
}
button.step_button{
	width: 200px;
	height: 50px;
	font-size: 18px;
	margin-left: 60%;
}

/*<!--------------------------------- CALC --------------------------------->*/
p.calc_item{
	font-size: 22px;
}
p.calc_text{
	font-size: 12px;
	margin-top: 15px;
}
.calc_container{
	margin-left: 20px;
}
.calc_input{
	width: 550px;
}
button.calc_button{
	width: 170px;
	height: 41px;
	font-size: 10px;
}
img.calc_right_img{
	height: 150px;
}
/*<!--------------------------------------------- BREAK --------------------------------------------->*/
section.break{
	height: 150px;
	-ms-align-items: center;
	align-items: center;
}
.break_container{
	padding-top: 0px;
}
.break_title{
	margin:0;
	font-size: 20px;
	line-height: 28px;
}
.break_text{
	font-size: 13px;
	line-height: 18px;
	margin-top: 10px;
}
/*<!--------------------------------------------- MAP --------------------------------------------->*/
.map_block{
	width: 100%;
	height: 280px;
}
img.map_block_img{
	width: 740px;
	height: 320px;
}
/*---------------------------- FOOTER ----------------------------*/
footer.footer{
	padding-top: 20px;
	padding-bottom: 10px;
}
}

/*----------------------///// 720-PX /////----------------------*/
@media only screen and (max-width: 720px){ 
.section{
	width: auto;
}
.container{
	width: 540px;
}
/*------------------------- HEADER -------------------------*/
header.header{
	height: 70px;
}
.header_container{
	height: 70px;
}
img.logo{
	width: 120px;
	margin-left: 10px;
}
p.phone_number{
	font-size: 16px;
}
p.operation_mode{
	font-size: 10px;
}
.header_button_call{
	width: 140px;
	height: 31px;
	-ms-align-items: center;
	align-items: center;
}
img.header_button_call_img{
	width: 15px;
	height: 15px;
}
p.header_button_call_text{
	font-size: 10px;
	margin: 0px;
}
/*-------------------------- DEGREE --------------------------*/
section.degree{
	background-position-y: -40px;
	background-position-x: -120px;
	height: 500px;
}
h1{
	font-size: 32px;
	line-height: 40px;
}
p.one_day{
	margin-top: 7px;
	font-size: 16px;
	line-height: 20px;
}
p.get_electrical{
	font-size: 21px;
	line-height: 28px;
	margin-top: 15px;
}
.get_present{
	width: 500px;
}
.present_row{
	width: 500px;
}
.present_inputs{
	width: 500px;
}
.input_item{
	width: 130px;
	height: 31px;
}
.input_item input{
	width: 75px;
}
button.present_input_button{
	width: 190px;
	height: 45px;
}
button.present_input_button p{
	font-size: 12px;
}
/*------------------------- 2014 Years -------------------------*/
section.years{
	height: 630px;
}
p.years_title{
	font-size: 17px;
	line-height: 32px;
	padding-top: 0px;
}
p.years_title{
	margin-bottom: 0;
}
/*------------------------- 2014 Years -------------------------*/
section.years{
	height: 380px;
}
.years_slider{
	width: 250px;
	height: 280px;
	margin-left: 10px;
}
.slider_for img{
	width: 250px;
	height: 161px;
}
.slider_for{
	padding-bottom: 18px;
}
.slider_nav img{
	width: 75px;
	height: 48px;
}
.slider_nav{
	width: 250px;
	height: 150px;
	padding-bottom: 50px;
}
.slider_nav button{
	width: 20px;
	height: 20px;
}
button.slick-prev{
	right: 80px;
}
.years_slider_number{
	height: 40px;
	margin-top: -25px;
}
p.slide_number{
	font-size: 29px;
	line-height: 29px;
}
p.slides_amount{
	font-size: 8px;
	width: 20px;
	height: 20px;
}
.years_main{
	width: 250px;
	margin-left: 20px;
}
p.years_main_title{
	font-size: 10px;
	line-height: 15px;
}
.years_arrow{
	width: 250px;
	height: 25px;
	margin: 0px;
}
section .years_main_check{
	width: 250px;
	height: 220px;
}
li.years_item p{
	font-size: 11px;
	line-height: 10px;
}
img.years_item_img{
	width: 28px;
	height: 28px;
}
p.years_item_text{
	margin-left: 10px;
}
/*---------------------------- WRING ----------------------------*/
section.wiring{
	height: 280px;
}
.wiring_check{
	margin-left: 15px;
}
p.wiring_title{
	font-size: 16px;
}
.wiring_check{
	width: 320px;
	height: 200px;
}
p.wiring_check_title{
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 0;
}
p.wiring_check_subtitle{
	font-size: 11px;
	margin: 0px;
}
.wiring .wiring_check_input{
	justify-content: space-around;
	width: 100%;
}
.wiring .input_item{
	width: 100px;
	height: 24px;
}
.wiring .input_item input{
	width: 50px;
	margin-left: 5px;
}
.wiring .present_input_button{
	width: 130px;
	height: 30px;
}
.wiring .present_input_button p{
	font-size: 8px;
}
.wiring .present_input_button>img{
	width: 18px;
	height: 18px;
}
.wring_main_right{
	width: 175px;
	height: 200px;
	margin-left: 10px;
}
.wring_main_right_item p{
	font-size: 8px;
	line-height: 11px;
}
.wring_main_right_item img{
	width: 35px;
	height: 35px;
}
.wring_main_right_item{
	width: 100px;
}
img.right_side_img{
	margin-top: -20px;
	width: 200px;
}
.wiring .input_item input::-webkit-input-placeholder {
    font-size: 12px;
	line-height: 16px;
	color: #6C6C6C;
} 
.input_item img{
	width: 15px;
	height: 15px;
	margin-left: 5px;
}
img.right_side_img{
	margin-top: 20px;
	width: 140px;
}
/*---------------------------- d3 ----------------------------*/
section.d3{
	height: 300px;
}
img.d3_circle{
	width: 180px;
}
.d3_main{
	width: 600px;
}
.d3_main_right{
	height: 200px;
}
p.d3_main_text{
	font-size: 15px;
	line-height: 22px;
}
.d3_main_arrow{
	width: 200px;
	height: 25px;
}
button.d3_main_button{
	width: 150px;
	height: 37px;
}
button.d3_main_button p{
	font-size: 10px;
	line-height: 10px;
}
/*---------------------------- IDEA ----------------------------*/
p.idea_title{
	font-size: 18px;
}
.idea_container{
	margin-top: 0;
	height: 240px;
}
.idea_container .draggable{
	width: 260px;
	height: 100px;
}
.idea_slider img{
	width: 130px;
	height: 100px;
}
.idea_container_right{
	height: 200px;
}
p.idea_container_text{
	font-size: 15px;
	line-height: 17px;
}
p.idea_container_item{
	font-size: 10px;
	line-height: 12px;
	margin: 0px;
}
button.idea_button{
	width: 120px;
	height: 30px;
	font-size: 12px;
	border-radius: 15px;
}
/*--------------------------- GLAZING ---------------------------*/
section.gleazing{
	height: 250px;
	background-position-x: -90px;
}
p.gleazing_title{
	font-size: 20px;
	padding-top: 30px;
}
p.gleazing_text{
	font-size: 10px;
	line-height: 19px;
	margin-top: 0;
}
.gleazing_img_items{
	width: 80px;
	height: 80px;
}
.gleazing_img{
	width: 500px;
}
.gleazing_img{
	width: 350px;
	margin-top: 25px;
}
.gleazing_img_items p{
	font-size: 8px;
	line-height: 10px;
}
.gleazing_margin{
	margin-left: 20px;
}
/*---------------------------- SPARE ----------------------------*/
section.spare{
	margin-top: 0px;
	margin-bottom: 0px;
	-webkit-background-size: cover;
	background-size: cover;
	height: 150px;
}
p.spare_container_title{
	line-height: 19px;
	font-size: 17px;
}
p.spare_container_text{
	margin-top: 5px;
	font-size: 9px;
	line-height: 15px;
}
.spare_container{
	justify-content: space-around;
	-ms-align-items: baseline;
	align-items: baseline;
	padding-top: 30px;
}
.spare_container_item{
	width: 250px;
}
/*---------------------------- STEP ----------------------------*/
p.step_title{
	margin-top: 0;
}
p.step_title{
	font-size: 20px;
	line-height: 20px;
	padding-top: 15px;
}
.step_block_item p{
	margin-bottom: 0;
	font-size: 7px;
	line-height: 10px;
}
p.step_subtitle{
	font-size: 14px;
	margin-top: 0;
}
.step_block{
	width: 450px;
}
img.line1{
	width: 380px;
	margin-top: 27px;
}
img.step_block_img{
	width: 60px;
	height: 60px;
}
.step_block_item5::after{
	content: url(../img/Arrow540.png);
	height: 1px;
	width: 8px;
	position: absolute;
	margin-top: 27px;
	z-index: -1;
	margin-left: 20px;
}
button.step_button{
	width: 150px;
	height: 37px;
	font-size: 15px;
	margin-left: 60%;
}
/*<!--------------------------------- CALC --------------------------------->*/
section.calc{
	margin-top: 10px;
	margin-bottom: 10px;	
	height: 150px;
}
p.calc_item{
	font-size: 19px;
}
p.calc_text{
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0;
	width: 350px;
}
.calc_container{
	margin-left: 10%;
}
.calc_input{
	width: 380px;
	margin-top: 0;
}
.calc .input_item{
	width: 100px;
	height: 25px;
}
.calc input{
	width: 60px;
	margin-left: 5px;
}
.calc .input_item input::-webkit-input-placeholder {
    font-size: 12px;
	line-height: 16px;
	color: #6C6C6C;
} 
button.calc_button{
	width: 120px;
	height: 30px;
	font-size: 7px;
}
img.calc_right_img{
	height: 150px;
}
/*<!--------------------------------------------- BREAK --------------------------------------------->*/
section.break{
	height: 100px;
}
.break_container{
	padding-top: 0px;
}
.break_title{
	font-size: 16px;
	line-height: 20px;
}
.break_text{
	font-size: 10px;
	line-height: 13px;
	margin-top: 10px;
}
.break_container_item{
	height: 100%;
	justify-content: baseline;
	padding-top: 15px;
}
/*<!--------------------------------------------- MAP --------------------------------------------->*/
p.map_title{
	font-size: 19px;
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: 0px;
}
.map_block{
	width: 100%;
	height: 200px;
}
img.map_block_img{
	width: 540px;
	height: 221px;
}
/*---------------------------- FOOTER ----------------------------*/
footer.footer{
	padding-top: 20px;
	padding-bottom: 10px;
}
.media{
	width: 150px;
	height: 15px;
	font-size: 10px;
}
.media img{
	width: 15px;
}
.footer_second_block{
	height: 80px;
	flex-direction: column;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
p.phone_number{
	font-size: 15px;
	line-height: 25px;
}
p.operation_mode{
	margin-bottom: 5px;
}
a.footer_mail{
	color: #404040;
	font-size: 15px;
}
.mail_block img{
	height: 15px;
	margin-left: 5px;
}
/*----------------------///// 540-PX /////----------------------*/
@media only screen and (max-width: 540px){ 
.section{
	width: auto;
}
.container{
	width: 440px;
}
/*------------------------- HEADER -------------------------*/
header.header{
	height: 50px;
}
.header_container{
	height: 50px;
}
img.logo{
	width: 100px;
}
p.phone_number{
	font-size: 13px;
}
p.operation_mode{
	font-size: 7px;
}
.header_button_call{
	width: 100px;
	height: 26px;
}
img.header_button_call_img{
	width: 10px;
	height: 10px;
}
p.header_button_call_text{
	font-size: 7px;
}
/*-------------------------- DEGREE --------------------------*/
section.degree{
	background-position-x: -40px;
	height: 350px;
}
h1{
	font-size: 25px;
	line-height: 30px;
}
.degree_main{
	padding-top: 60px;
}
p.one_day{
	font-size: 14px;
	line-height: 17px;
}
p.get_electrical{
	font-size: 19px;
	line-height: 20px;
	margin-top: 10px;
}
.get_present{
	width: 440px;
}
.present_row{
	width: 440px;
}
.present_item img{
	width: 40px;
	height: 40px;
}
.present_item p{
	font-size: 10px;
	line-height: 12px;
}
.present_inputs{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.input_item{
	width: 100px;
	height: 25px;
}
.input_item input{
	width: 55px;
}
button.present_input_button{
	width: 130px;
	height: 31px;
}
button.present_input_button img{
	width: 20px;
	height: 20px;
}
button.present_input_button p{
	font-size: 8px;
}
/*------------------------- 2014 Years -------------------------*/
section.years{
	height: 280px;
}
p.years_title{
	font-size: 16px;
	line-height: 24px;
}
.years_slider{
	width: 170px;
	/*height: 280px;*/
	/*margin-left: 10px;*/
}
.slider_for img{
	width: 170px;
	height: 110px;
}
.slider_for{
	padding-bottom: 0px;
}
.slider_nav img{
	width: 46px;
	height: 30px;
}
.slider_nav{
	width: 170px;
	height: 150px;
}
.slider_nav button{
	width: 15px;
	height: 15px;
}
button.slick-prev{
	right: 50px;
}
.years_slider_number{
	height: 40px;
	margin-top: -20px;
}
p.slide_number{
	font-size: 20px;
	line-height: 20px;
}
p.slides_amount{
	font-size: 7px;
	width: 14px;
	height: 14px;
	margin-right: 18px;
}
/*-------------------------*/
.years_main{
	width: 200px;
	margin-left: 20px;
	height: auto;
}
p.years_main_title{
	font-size: 10px;
	line-height: 15px;
	margin: -0px;
}
.years_arrow{
	width: 200px;
	height: 25px;
	margin: 0px;
}
section .years_main_check{
	margin-top: 0;
	width: 200px;
	height: 180px;
}
li.years_item p{
	font-size: 9px;
	line-height: 10px;
}
img.years_item_img{
	width: 20px;
	height: 20px;
}
p.years_item_text{
	margin-left: 7px;
}
/*---------------------------- WRING ----------------------------*/
section.wiring{
	height: 230px;
	padding-bottom: 0;
}
.wiring_main{
	margin-top: 10px;
}
.wiring_check{
	margin-left: 15px;
}
p.wiring_title{
	font-size: 13px;
	padding-top: 10px;	
}
.wiring_check{
	width: 250px;
	height: 156px;
}
p.wiring_check_title{
	font-size: 10px;
	line-height: 14px;
}
p.wiring_check_subtitle{
	font-size: 9px;
}
.wiring .wiring_check_input{
	justify-content: space-around;
	width: 100%;
}
.wiring .input_item{
	width: 80px;
	height: 17px;
}
.wiring .input_item input{
	width: 50px;
	margin-left: 5px;
}
.input_item img{
	width: 12px;
	height: 12px;
}
.wiring .input_item input::-webkit-input-placeholder {
    font-size: 10px;
	line-height: 16px;
	color: #6C6C6C;
} 
.wiring .present_input_button{
	width: 110px;
	height: 25px;
}
.wiring .present_input_button p{
	font-size: 7px;
}
.wiring .present_input_button>img{
	width: 12px;
	height: 12px;
}
.wring_main_right{
	width: 175px;
	height: 156px;
	margin-left: 10px;
}
.wring_main_right_item p{
	font-size: 6px;
	line-height: 9px;
}
.wring_main_right_item img{
	width: 30px;
	height: 30px;
}
.wring_main_right_item{
	width: 80px;
}
img.right_side_img{
	margin-top: 10px;
	width: 100px;
}
/*---------------------------- d3 ----------------------------*/
section.d3{
	height: 200px;
	background-position-x: -10px;	
}
img.d3_circle{
	width: 130px;
}
.d3_main{
	width: 300px;
}
.d3_main_right{
	height: 150px;
}
p.d3_main_text{
	font-size: 13px;
	line-height: 17px;
}
.d3_main_arrow{
	width: 150px;
	height: 25px;
}
button.d3_main_button{
	width: 110px;
	height: 25px;
}
button.d3_main_button p{
	font-size: 8px;
	line-height: 10px;
}
/*---------------------------- IDEA ----------------------------*/
section.idea{
	background-position-x: -15px;
}
p.idea_title{
	font-size: 15px;
	padding-top: 10px;
}
.idea_container{
	height: 160px;
}
.idea_container .draggable{
	width: 180px;
	height: 77px;
}
.idea_slider img{
	width: 100px;
	height: 77px;
}
.idea_container .slider_for button{
	width: 20px;
	height: 20px;
}
.idea_container_right{
	height: 150px;
	padding-bottom: 10px;
}
p.idea_container_text{
	font-size: 12px;
	line-height: 14px;
}
p.idea_container_item{
	font-size: 7px;
	line-height: 9px;
	margin: 0px;
}
button.idea_button{
	width: 100px;
	height: 25px;
	font-size: 12px;
	border-radius: 15px;
}
/*--------------------------- GLAZING ---------------------------*/
section.gleazing{
	height: 180px;
	background-position-x: 0px;
}
p.gleazing_title{
	font-size: 17px;
	padding-top: 15px;
}
p.gleazing_text{
	width: 90%;
	font-size: 8px;
	line-height: 15px;
	margin-top: 10px;
}
.gleazing_img{
	width: 300px;
	margin-top: 15px;
}
.gleazing_img_items{
	width: 60px;
	height: 60px;
}
.gleazing_img_items p{
	font-size: 8px;
	line-height: 10px;
}
.gleazing_margin{
	margin-left: 20px;
}
/*---------------------------- SPARE ----------------------------*/
section.spare{
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100px;
}
.spare_container{
	height: 100px;
}
p.spare_container_title{
	font-size: 12px;
	line-height: 14px;
	padding-top: 10px;
}
p.spare_container_text{
	font-size: 8px;
	line-height: 12px;
	margin-top: 5px;
}
.spare_container{
	justify-content: space-around;
	-ms-align-items: baseline;
	align-items: baseline;
	padding-top: 10px;
}
.spare_container_item{
	width: 210px;
}
/*---------------------------- STEP ----------------------------*/
section.step{
	padding-bottom: 10px;
}
p.step_title{
	font-size: 15px;
	line-height: 15px;
	padding-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 10px;
}
.step_block_item p{
	font-size: 6px;
}
p.step_subtitle{
	font-size: 9px;
}
.step_block{
	width: 350px;
}
img.line1{
	width: 280px;
	margin-top: 21px;
}
img.step_block_img{
	width: 45px;
	height: 45px;
}
.step_block_item5::after{
	content: url(../img/Arrow440.png);
	height: 1px;
	width: 8px;
	position: absolute;
	margin-top: 19px;
	z-index: -1;
	margin-left: 20px;
}
button.step_button{
	width: 100px;
	height: 25px;
	font-size: 10px;
	margin-left: 65%;
}
/*<!--------------------------------- CALC --------------------------------->*/
section.calc{
	height: 120px;
}
p.calc_item{
	font-size: 16px;
}
p.calc_text{
	font-size: 12px;
	line-height: 10px;
	margin-top: 0px;
	margin-bottom: 0;
	width: 350px;
}
.calc_container{
	margin-left: 5%;
}
.calc_input{
	width: 300px;
	margin-top: 10px;
}
.calc .input_item{
	width: 80px;
	height: 20px;
}
.calc input{
	width: 50px;
	margin-left: 5px;
}
.calc .input_item input::-webkit-input-placeholder {
    font-size: 10px;
	line-height: 10	px;
	color: #6C6C6C;
} 
button.calc_button{
	width: 100px;
	height: 20px;
	font-size: 6px;
}
img.calc_right_img{
	height: 90px;
}
/*<!--------------------------------------------- BREAK --------------------------------------------->*/
.break_title{
	font-size: 13px;
	line-height: 20px;
}
.break_text{
	font-size: 9px;
	line-height: 10px;
}
/*<!--------------------------------------------- MAP --------------------------------------------->*/
p.map_title{
	font-size: 15px;
}
.map_block{
	width: 100%;
	height: 200px;
}
img.map_block_img{
	width: 440px;
	height: 180px;
}
/*---------------------------- FOOTER ----------------------------*/
footer.footer{
	padding-top: 5px;
	padding-bottom: 5px;
}
.media{
	width: 110px;
	height: 15px;
	font-size: 10px;
}
.media img{
	width: 12px;
}
p.join{
	font-size: 8px;
}
.footer_second_block{
	height: 60px;
	flex-direction: column;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
p.phone_number{
	font-size: 12px;
	line-height: 20px;
}
p.operation_mode{
	margin-bottom: 5px;
}
a.footer_mail{
	font-size: 10px;
}.mail_block{
	height: 20px;
}
.mail_block img{
	height: 11px;
	margin-left: 5px;
}
/*----------------------///// 440-PX /////----------------------*/
@media only screen and (max-width: 440px){ 
.section{
	width: auto;
}
.container{
	width: 360px;
}
/*--------FEED_BACK--------*/
.form .input_item img{
	width: 22px;
	height: 22px;
}
/*-------------------------- DEGREE --------------------------*/
section.degree{
	height: auto;
	background-position-x: -200px;
	background-position-y: -80px;
}
h1{
	font-size: 20px;
	line-height: 20px;
}
.degree_main{
	padding-top: 70px;
}
p.one_day{
	font-size: 11px;
	line-height: 14px;
}
p.get_electrical{
	font-size: 15px;
	line-height: 16px;
	margin-top: 10px;
}
.get_present{
	width: auto;
}
.present_row{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-left: 146px;
	width: auto;
}
.present_item img{
	width: 50px;
	height: 50px;
}
.present_item p{
	font-size: 15px;
}
.present_inputs{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.input_item{
	width: 173px;
	height: 41px;
	
	margin: 10px 0px;
}
.input_item img{
	width: 25px;
	height: 25px;
}
.input_item input{
	width: 55px;
}
button.present_input_button{
	width: 219px;
	height: 52px;
	margin-bottom: 30px;
}
button.present_input_button p{
	font-size: 12px;
}
/*------------------------- 2014 Years -------------------------*/
section.years{
	height: 700px;
	padding-bottom: 20px;
}
p.years_title{
	font-size: 16px;
	line-height: 24px;
}
.years_slider{
	width: 350px;
	height: 350px;
}
.slider_for img{
	width: 350px;
	height: 226px;
}
.slider_nav img{
	width: 100px;
	height: 51px;
}
.slider_nav{
	width: 350px;
	height: 80px;
}
.slider_nav button{
	width: 20px;
	height: 20px;
}
button.slick-prev{
	right: 60px;
}
.years_slider_number{
	height: 40px;
	margin-top: -23px;
}
p.slide_number{
	font-size: 25px;
	line-height: 25px;
}
p.slides_amount{
	font-size: 10px;
	width: 18px;
	height: 18px;
}
/*-------------------------*/
.years_main{
	width: 360px;
	margin-left: 0px;
	height: auto;
}
p.years_main_title{
	font-size: 15px;
}
.years_arrow{
	display: none;
}
section .years_main_check{
	width: 360px;
	height: 220px;
}
li.years_item p{
	font-size: 12px;
	line-height: 10px;
}
img.years_item_img{
	width: 27px;
	height: 27px;
}
p.years_item_text{
	margin-left: 7px;
}/*---------------------------- WRING ----------------------------*/
section.wiring{
	height: 250px;
}
.wiring_check{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}
.wiring_main{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	width: 340px;
}
.wiring .input_item{
	width: 80px;
	height: 17px;
}
.wiring .input_item input{
	width: 50px;
	margin-left: 5px;
}
.input_item img{
	width: 12px;
	height: 12px;
}
.wiring .present_input_button{
	width: 110px;
	height: 25px;
	margin-bottom: 10px;
}
.wiring .present_input_button p{
	font-size: 7px;
}
.wring_main_right{
	flex-direction: row;
	justify-content: space-between;
	width: auto;
	height: auto;
	margin-left: 10px;
}
.wring_main_right_item{
	width: 90px;
}
img.right_side_img{
	display: none;
}
/*---------------------------- IDEA ----------------------------*/
section.idea{
	padding-bottom: 15px;
}
p.idea_title{
	font-size: 13px;
}
.idea_container{
	height: auto;
	flex-direction: column;
}
.idea_container .draggable{
	width: 300px;
	height: 130px;
}
.idea_slider img{
	width: 130px;
	height: 130px;
}
.idea_container .slider_for{
	height: auto;
}
.idea_container .slider_for button{
	width: 20px;
	height: 20px;
}
.idea_container_right{
	padding-bottom: 10px;
	width: 360px;
	height: 200px;
}
p.idea_container_text{
	width: 100%;
	text-align: center;
	font-size: 17px;
	margin-top: 10px;
}
p.idea_container_item{
	font-size: 15px;
	line-height: 15px;
	margin: 0px;
}
button.idea_button{
	width: 150px;
	height: 35px;
	font-size: 15px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}
/*--------------------------- GLAZING ---------------------------*/
section.gleazing{
	height: auto;
	background-position-x: 0px;
}
p.gleazing_title{
	font-size: 21px;
	text-align: center;
}
p.gleazing_text{
	width: 100%;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
}
.gleazing_img{
	width: auto;
	margin-top: 0px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
	height: 340px;
}
.gleazing_img_items{
	width: 140px;
	height: 140px;
	margin: 15px 0px;
}
.gleazing_img_items p{
	font-size: 15px;
	line-height: 16px;
}
.gleazing_margin{
	margin-left: 0px;
}
/*---------------------------- SPARE ----------------------------*/
section.spare{
	height: 400px;

}
.spare_container{
	height: 350px;
	flex-direction: column;
	justify-content: space-around;
}
p.spare_container_title{
	font-size: 27px;
	text-align: center;
	line-height: 22px;
	padding-top: 0px;
}
p.spare_container_text{
	font-size: 18px;
	line-height: 18px;
	margin-top: 23px;
}
.spare_container_item{
	width: auto;
}
/*---------------------------- STEP ----------------------------*/
section.step{
	padding-bottom: 10px;
}
p.step_title{
	font-size: 25px;
	line-height: 25px;
}
p.step_subtitle{
	font-size: 15px;
}
.step_block{
	width: 350px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.step_block_item p{
	font-size: 14px;
	line-height: 18px;
	margin: -0px;	
}
.step_block_item{
	margin-top: 10px;
}
img.line1{
	display: none;
}
img.step_block_img{
	width: 90px;
	height: 90px;
}
.step_block_item5::after{
	display: none;
}
button.step_button{
	width: 219px;
	height: 52px;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
/*<!--------------------------------- CALC --------------------------------->*/
section.calc{
	height: 350px;
}
p.calc_item{
	font-size: 25px;
}
p.calc_text{
	font-size: 20px;
	line-height: 20px;
	margin-top: 0px;
	margin-bottom: 0;
	width: 350px;
}
.calc_container{
	margin-left: 0;
}
.calc_input{
	width: auto;
	margin-left: auto;
	margin-right: auto;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.calc .input_item{
	width: 173px;
	height: 41px;
}
.calc input{
	width: 120px;
	margin-left: 15px;
}
.calc .input_item input::-webkit-input-placeholder {
    font-size: 15px;
	line-height: 16px;
} 
button.calc_button{
	width: 219px;
	height: 52px;
	font-size: 15px;
}
.calc .input_item img{
	width: 25px;
	height: 25px;
}
img.calc_right_img{
	display: none;
}
/*<!--------------------------------------------- BREAK --------------------------------------------->*/
section.break{
	height: auto;
}
.break_container{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: auto;
}
.break_title{
	font-size: 20px;
	text-align: center;
}
.break_text{
	font-size: 12px;
	line-height: 15px;
	text-align: center;
}
/*<!--------------------------------------------- MAP --------------------------------------------->*/
p.map_title{
	font-size: 22px;
}
.map_block{
	width: 100%;
	height: 200px;
}
img.map_block_img{
	width: 360px;
	height: 147px;
}
}
@media only screen and (min-width: 1440px ){ 
.section{
	width: 1440px;
}
.container{
	width: 1360px;
}
}
@media only screen and (max-width: 1024px ){ 
.section{
	/*width: 1024px;*/
}
.container{
}
}
