body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Gotham Pro Regular';
	overflow-x: hidden;
}
ul, li{
	text-decoration: none;
	list-style: none;
}
.section{
	background-color: #fff;
}
a{
	text-decoration: none;
}
.bsr{
	border: 1px solid red;
}
button{
	outline:none;
	background-color: transparent;
	cursor: pointer;
}
.container{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.section{
	/*width: 1440px;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.btn{
	font-family: 'Gotham Pro Black';
	background-color: #fff;
	border-radius: 53px;
	border: none;
	box-shadow: 3px 0px 10px rgba(92, 105, 161, 0.45);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.btn:hover{
	box-shadow: 3px 0px 10px #6ABEB3;
}
.btn>img{
	width: 24px;
}
.btn>p{
	font-size: 13px;
	line-height: 16px;
	color: #FF4F50;
}
.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.p-0{
	padding: 0;
}
.m-0{
	margin: 0;
}
/*------------------------- HEADER -------------------------*/
header.header{
	height: 88px;
	background: #FDFDFD;
}
.header_container{
	justify-content: space-between;
	height: 88px;
	-ms-align-items: center;
	align-items: center;
}
.header_left{
	height: 53px;
}
.header_right{
	-ms-align-items: center;
	align-items: center;
}
img.logo{
	width: 227px;
}
/*.logo_word{
	height: 53px;
	margin-left: 15px;
	flex-direction: column;
	justify-content: space-around;
}*/
/*p.logo_subtitle{
	font-size: 11px;
	line-height: 10px;
	color: #8F8F8F;
	margin: 0;
}*/
.phone_number_block{
	flex-direction: column;
	justify-content: space-around;
	text-align: right;
}
p.phone_number{
	font-family: 'Gotham Pro Black';
	font-size: 22px;
	font-weight: 800;
	line-height: 38px;
	color: #404040;
}
p.operation_mode{
	font-size: 14px;
}
.header_button_call{
	width: 219px;
	height: 52px;
	justify-content: space-around;
	font-weight: 800;
	margin-left: 15px;
}

/*-------------------------- DEGREE --------------------------*/
section.degree{
	background-image: url(../img/фон.jpg);
	background-position-y: -70px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;
	position: relative;
	z-index: 0;
}
h1{
	font-family: 'Gotham Pro Black';
	font-size: 40px;
	line-height: 48px;
	color: #404040;
}
h1 span{
	color: #FF4F50;
}
img.degree_10{
	float: left;
	margin-left: 520px;
}
.degree_main{
	margin-left: 45%;
	padding-top: 111px;
}
p.one_day{
	margin-top: 7px;
	font-size: 21px;
	line-height: 31px;
	color: #6C6C6C;
}
p.get_electrical{
	font-weight: 900;
	font-size: 24px;
	line-height: 32px;
	color: #404040;
	margin-top: 29px;
}
p.get_electrical span{
	color: #FF4F50;
}
.get_present{
	margin-left: 38%;
}
.present_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.present_item img{
	width: 50px;
	height: 50px;
}
.present_item p{
	font-size: 13px;
	line-height: 16px;
	color: #404040;
}
.present_row{
	justify-content: space-between;
	width: 560px;
}
.present_inputs{
	justify-content: space-between;
	width: 605px;
	-ms-align-items: center;
	align-items: center;
}
.input_item{
	width: 173px;
	height: 41px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;	
	background-color: #fff;
	border-radius: 53px;
	box-shadow: 3px 0px 10px rgba(92, 105, 161, 0.45);
}
.input_item input{
	outline: none;
	border: none;
	margin-left: 12px;
	width: 120px;
}
.input_item input::-webkit-input-placeholder {
    font-size: 13px;
	line-height: 16px;
	color: #6C6C6C;
} 
.input_item img{
	margin-left: 13px;
}
button.present_input_button{
	justify-content: space-around;
	width: 219px;
	height: 52px;
}
button.present_input_button p{
	margin: 0;	
	font-weight: bold;
}

/*------------------------- 2014 Years -------------------------*/
section.years{
	background-image: url(../img/Rectangle4.png);
	height: 630px;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 30px;
	position: relative;
	z-index: 0;
}
p.years_title{
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #404040;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding-top: 24px;
}
p.years_title span{
	color: #FF4F50;
}
.slider-nav .slick-arrow::before{
	background-color: red;
}

/*/////////////////////// years_slider ///////////////////////*/

.years_slider{
	width: 483px;
	height: 430px;
	float: left;
	flex-direction: column;
	margin-top: 47px;
}
.slider_for img{
	width: 482.66px;
	height: 312px;
	border-radius: 4px;
}
.slider_for{
	padding-bottom: 18px;
}
.slider_nav img{
	width: 149px;
	height: 96px;
	border-radius: 4px;
}
.slider_nav{
	width: 483px;
	height: 300px;
}
.slider_for img{
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}
.slick-active{
  	outline: none;
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.slider_nav button{
	position: absolute;
	bottom: 0;
	border: none;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.years_container button{
	z-index: 1;
}
button.slick-prev{
	background-image: url(../img/arrow_prev.png);
	background-repeat: no-repeat;
	right: 90px;
}
button.slick-next{
	background-image: url(../img/arrow_next.png);
	background-repeat: no-repeat;
	right: 0px;
}
.years_slider_number{
	font-family: 'Gotham Pro Black', sans-serif;
	justify-content: center;
	justify-content: flex-end;
	height: 42px;
	margin-top: -32px;
}
p.slide_number{
	font-size: 36px;
	font-weight: bold;
}
p.slides_amount{
	font-weight: bold;
	font-size: 9px;
	width: 23px;
	height: 23px;
	background-color: #fff;
	box-shadow: 3px 0px 10px rgba(92, 105, 161, 0.45);
	border-radius: 50%;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-right: 25px;
}
/*/////////////////////// years_i_end ///////////////////////*/
.years_main{
	width: 610px;
	float: left;
	margin-left: 40px;
}
p.years_main_title{
	font-family: 'Arsenal Bold';
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 25px;
	text-align: center;
}
.years_arrow{
	background-image: url(../img/стрелки.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 250px;
	height: 25px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}
.years_main_check{
	background-image: url(../img/Group_check.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right;
	width: 616px;
	height: 383px;
	margin-top: 17px;
}
img.years_item_img{
	width: 60px;
	height: 60px;
}
ul.years_items{
	height: 100%;
	justify-content: space-around;
	padding-left: 10px;
}
li.years_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
p.years_item_text{
	font-weight: 600;
	color: #404040;
	font-size: 14px ;
	margin:0;
	margin-left: 15px;
}
.div_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/*---------------------------- WRING ----------------------------*/
section.wiring{
	position: relative;
	height: 600px;
	background-position: center;
	padding-bottom: 30px;
}
p.wiring_title{
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	color: #404040;
	margin: 0;
	padding-top: 35px;
}
p.wiring_title span{
	color: #FF4F50;
}
.wiring_main{
	margin-top: 33px;
	position: absolute;
	z-index: 1;
}	
.wiring_check{
	background-image: url(../img/wiring_check.png);
	-webkit-background-size: cover;
	background-size: cover;
	width: 624px;
	height: 390px;
	flex-direction: column;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
p.wiring_check_title{
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #404040;
	font-weight: 600;
}
p.wiring_check_title span{
	color: #FF4F50;
}
p.wiring_check_subtitle{
	font-size: 14px;
	color: #909090;
	font-weight: 600;
}
.wiring_check_input{
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}
.wring_main_right{
	width: 175px;
	margin-left: 39px;
	height: 390px;
	float: left;
	flex-direction: column;
	justify-content: space-between;
}
.wring_main_right_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	text-align: center;
	-ms-align-items: center;
	align-items: center;
}
.wring_main_right_item p{
	margin: 0; 
	font-family: 'Gotham Pro Narrow Medium';
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #6C6C6C;
}
img.right_side_img{
	position: absolute;
	right: 0%;
	margin-top: -180px;
	z-index: 0;
}
/*---------------------------- d3 ----------------------------*/
section.d3{
	background-image: url(../img/bgi_gerl.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	height: 470px;
	background-position: center;
	background-position-x: 18px;
	position: relative;
	z-index: 0;
}
.d3_main_right{
	height: 340px;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}
.d3_main{
	padding-top: 60px;
	margin-left: 520px;
	-ms-align-items:  flex-end;
	align-items:  flex-end;
}
.d3_main_arrow{
	background-image: url(../img/стрелки.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 250px;
	height: 25px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}
p.d3_main_text{
	font-family: 'Gotham Pro Narrow Medium';
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #404040;
}
p.d3_main_text span{
	color: #FF4F50;
}
button.d3_main_button{
	width: 219px;
	height: 52px;
	justify-content: center;
	margin-left: auto;
margin-right: auto;
}
button.d3_main_button p{
	font-size: 15px;
	line-height: 16px;
	color: #5C69A1;
	font-weight: 800;
}

/*---------------------------- IDEA ----------------------------*/
section.idea{
	background-image: url(../img/Mask-Group.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-position-x: 8px;
}
p.idea_title{
	font-size: 24px;
	line-height: 32px;
	padding-top: 30px;
	font-weight: 600;
	margin-left: 52%;
}
p.idea_title span{
	color: #FF4F50;
}
.idea_container{
	margin-top: 25px;
}
.idea_container .draggable{
	width: 730px;
	height: 268px;
}
.multiple-items{
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	-ms-align-items: center;
	align-items: center;
}
.idea_container button{
	background-position: center;
	background-repeat: no-repeat;
	width: 37px;
	height: 37px;
	border: none;
}
.idea_container button.slick-prev{
	background-image: url(../img/arrow_prev.png);
	right: 90px;
}
.idea_container button.slick-next{
	background-image: url(../img/arrow_next.png);
	right: 0px;
}
.idea_slider img{
	width: 361px;
	height: 268px;
}
.idea_slider .slider_for{
	height: 300px;
}
.idea_container_right{
	margin-left: 43px;
	flex-direction: column;
	justify-content: space-between;
}
p.idea_container_text{
	width: 348px;
	font-family: 'Gotham Pro Narrow Medium';
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	color: #404040;
	margin: 0;
}
p.idea_container_item{
	font-size: 14px;
	line-height: 21px;
	color: #404040;
	font-weight: 500;	
}
button.idea_button{
	width: 219px;
	height: 52px;
	justify-content: center;
	font-size: 15px;
	color: #FF4F50;
	font-weight: bold;
}

/*--------------------------- GLAZING ---------------------------*/

section.gleazing{
	background-image: url(../img/остекленение.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	height: 469px;
}
p.gleazing_title{
	font-size: 27px;
	padding-top: 60px;
	font-weight: bold;
}
p.gleazing_title span{
	color: #FF4F50;
}
p.gleazing_text{
	margin-bottom: 0;
	margin-top: 39px;
	width: 526px;
	font-size: 14px;
	line-height: 21px;
	color: #404040;
}
.gleazing_img{
	width: 753px;
	justify-content: space-between;
	margin-top: 54px;
}
.gleazing_img_items1{
	background-image: url(../img/Rectangle2.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.gleazing_img_items2{
	background-image: url(../img/Rectangle2-1.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.gleazing_img_items3{
	background-image: url(../img/Rectangle2-2.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.gleazing_img_items4{
	background-image: url(../img/Rectangle2-3.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.gleazing_img_items{
	width: 173px;
	height: 173px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.gleazing_img_items p{
	margin-top: 70%;
	font-family: 'Gotham Pro Narrow Medium';
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

/*---------------------------- SPARE ----------------------------*/
section.spare{
	background-image: url(../img/сэкономить.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	height: 210px;
	margin-top: 49px;
	margin-bottom: 49px;
}
.spare_container{
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	height: 100%;
}
.spare_container_item{
	width: 310px;
	/*border: 1px solid red;*/
}
p.spare_container_title{
	margin:0; 
	font-size: 24px;
	line-height: 32px;
	color: #404040;
}
.spare_container_title span{
	color: #FF4F50;
}
p.spare_container_text{
	margin:0; 
	margin-top: 26px;
	font-size: 14px;
	line-height: 21px;
	color: #6C6C6C;
}

/*---------------------------- STEP ----------------------------*/
section.step{
	background-image: url(../img/шагов.png);
	background-position: center;
	padding-bottom: 43px;
	-webkit-background-size: cover;
	background-size: cover;
}
p.step_title{
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	font-weight: bold;
	padding-top: 33px;
}
p.step_title span{
	color: #FF4F50;
}
p.step_subtitle{
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #6C6C6C;
}
.step_block_item p{
	font-family: 'Gotham Pro Narrow Medium';
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #404040;
}
.step_block{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}
img.line1{
	position: absolute;
	margin-top: 58px;
	margin-left: 40px;
	width: 800px;
	z-index: -1;
}
.step_block_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	width: 189px;
}
.step_block_item5::after{
	content: url(../img/Arrow1.png);
	height: 1px;
	width: 8px;
	position: absolute;
	margin-top: 57px;
	z-index: -1;
	margin-left: 44px;
}
button.step_button{
	width: 219px;
	height: 52px;
	font-size: 18px;
	line-height: 18px;
	color: #5C69A1;
	margin-left: 70%;
	background-position: center;
	justify-content: center;
	font-weight: bold;
}

/*<!--------------------------------------------- CALC --------------------------------------------->*/

section.calc{
	background-image: url(../img/calc.png);
	height: 210px;
	-webkit-background-size: cover;
	background-size: cover;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
	background-repeat: no-repeat;
	margin-top: 30px;
	margin-bottom: 30px;	
}
.calc_container{
	margin-left: 200px;
}
p.calc_item{
	font-size: 24px;
	line-height: 32px;
	text-align: center;
}
p.calc_item span{
	color: #FF4F50;
}
p.calc_text{
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #404040;
	margin-top: 27px;
}
.calc_input{
	justify-content: space-between;
	width: 605px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	-ms-align-items: center;
	align-items: center;
}
button.calc_button{
	font-family: 'Gotham Pro Black';
	width: 219px;
	height: 52px;
	font-size: 13px;
	line-height: 16px;
	color: #FF4F50;
	justify-content: center;
	font-weight: bold;
}
img.calc_right_img{
	height: 270px;
}

/*<!--------------------------------------------- BREAK --------------------------------------------->*/
section.break{
	background-image: url(../img/break.png);
	height: 176px;
	-webkit-background-size: cover;
	background-size: cover;
}
.break_container{
	padding-top: 35px;
	justify-content: space-around;
}
.break_title{
	margin:0;
	font-size: 24px;
	line-height: 32px;
	color: #404040;
	font-weight: bold;
}
.break_title span{
	color: #FF4F50;
}
.break_text{
	font-size: 14px;
	margin-top: 13px;
	line-height: 21px;
	color: #6C6C6C;
}

/*<!--------------------------------------------- MAP --------------------------------------------->*/
section.map{
	height: auto;
}
p.map_title{
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
}
p.map_title span{
	color: #FF4F50;
}
.map_block{
	background-image: url(../img/black_map.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 492px;
}
img.map_block_img{
	width: 95%;
	height: 526px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*---------------------------- FOOTER ----------------------------*/
footer.footer{
	background-color: #e2e2e2;
	padding-top: 50px;
	padding-bottom: 30px;
}
.footer_container{
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}
.media{
	width: 250px;
	justify-content: space-between;
	height: 25px;
	-ms-align-items: center;
	align-items: center;
	color: #404040;
}
.media img{
	width: 25px;
}
.footer_second_block{
	height: 120px;
	flex-direction: column;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
p.join{
	font-weight: 600;
}
p.operation_mode{
	color: #404040;
	font-weight: 600;
}
a.footer_mail{
	color: #404040;
}
.mail_block{
	height: 30px;
	-ms-align-items: center;
	align-items: center;
	font-size: 17px;
	font-weight: 600;
}
.mail_block img{
	height: 20px;
	margin-left: 15px;
}