body{
	box-sizing: border-box;
}
ul, li{
	text-decoration: none;
	list-style: none;
}
a{
	text-decoration: none;
}
.bsr{
	border: 1px solid red;
}
.row button{
	outline:none;
	background-color: transparent;
}


/*------------------------------------------ HEADER ------------------------------------------*/

header{
	width: 100%;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 620px;
}
header.header ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	margin-top: 10px;
	width: 100%;
}
header.header .logo{
	font-size: 24px;
	color: #fff;
}
header.header ul a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Montserrat sans-serif;
}
.header ul.nav-menu_hidden{
/*	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;*/
	display: none;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	text-align: center;
	background-color: rgba(155,155,155,.7);
	height: 240px;
	font-weight: 600;
	position: fixed;
	left: 0;
	padding: 20px 0;
	z-index: 5;
}
.header ul.nav-menu_hidden a{
	color: black;
	font-size: 20px;

}
h1{
	font-size: 40px;
	text-transform: uppercase;
	line-height: 24px;
	letter-spacing: 3px;
	text-align: center;
	font-weight: 400;
	margin-top: 180px;
	color: #fff;
}
h2{
	text-align: center;
	margin-top: 30px;
	color: #fff;
	font-size: 18px;
}
header .row button{
	width: 150px;
	height: 40px;
	border: 2px solid #fff;
	color: #fff;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
}
.burger{
	width: 30px;
	height: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around
}
.burger_line{
	width: 100%;
	background-color: #fff;
	height: 2px;
}

/*------------------------------------------ SERVICES ------------------------------------------*/

section.services{
	background-color: #fff;
	width: 100%;
	padding-bottom: 80px;
}
.services p.services_title{
	color: #555;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	margin-top: 80px;
}
.services p.services_subtitle{
	font-size: 16px;
	color: #555;
	text-align: center;
	margin-top: 20px;
}
.services_block{
	justify-content: space-around;
}

.services_block i.world_a{
	font-family: Serif;
	font-weight: 800;
}
.services_block i{
	font-size: 40px;
	color: #c0301c;
}
.services_block:hover i{
	color: #fff;
}
.services_block:hover .services_block_circle{
	background-color: #c0301c;
	border: 2px solid #c0301c;
}
.services_block_circle{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid #555;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.services_block_title{
	text-align: center;
	color: #555;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 24px;
	margin-top: 20px;
}
.services_block_text{
	text-align: center;
	color: #555;	
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

/*<!------------------------------------- ABOUT US ------------------------------------->*/


section.about{
	width: 100%;
	height: auto;
	background-color: #f8f8f8;
	padding-bottom: 70px;
}
.about  .about_title{
	color: #555555;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 70px;
}
.title_line{
	width: 20%;
	height: 2px;
	background-color: #555;
	margin-left: auto;
	margin-right: auto;
}
.about .about_subtitle{
	margin-top: 15px;
	text-align: center;
	color: #555555;
	font-family: "Roboto Slab";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.about .about_block_text{
	text-align: justify;
	margin-top: 50px;
	color: #555555;
	font-family: "Roboto Slab";
	font-size: 14px;
	font-weight: 400;
}
img.about_block_img{
	width: 100%;
}
.about_block_img_name{
	text-align: center;
	color: #555555;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 5px;
}
.about_block_img_position{
	text-align: center;
	color: #555555;
	font-family: "Roboto Slab";
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

/*<!---------------------------------------- LAST WORKS ---------------------------------------->*/
.works{
	width: 100%;
	margin-bottom: 70px;
}
.works-title{
	color: #555555;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 70px;
}
.works-block_cover{
	position: absolute;
	left: 0;
	right: 0;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	background-color: #ea4335;
	opacity: 0;
	z-index: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;;
	align-items: center;
}
.works-block{
	margin-top: 10px;
	margin-bottom: 10px;
}
.works-block-img{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	z-index: 0;
	padding: 0;
}
.works-block:hover .works-block_cover{
	opacity: .8;
}
button.works_view{
	border: none;
	background-color: #fff;
	text-transform: uppercase;
	color: #c0301c;
	font-size: 14px;
	font-weight: 600;
	width: 100px;
	height: 40px;
}
/*<!-------------------------------------------- RED BLOCK -------------------------------------------->*/
section.red_block{
	width: 100%;
	background-image: url(../img/Layer_29.png);
	height: auto;
}
.red_block .container-fluid{
	background-color: rgba(234,67,53,.8);
	padding-bottom: 50px;
}
.red_block .red_block-title{
	color: #ffffff;
	text-align: center;
	font-family: "Roboto Slab";
	font-size: 25px;
	font-weight: 400;
	line-height: 44px;
	padding-top: 50px;
}
.red_block button.red_block-button-get{
	color: #ffffff;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: 400;
	line-height: 44px;
	text-transform: uppercase;
	border: 2px solid #fff;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	padding: 3px 30px;
}

/*<!------------------------------------------- LOGOS BLOCK ------------------------------------------->*/

section.logos_block{
	width: 100%;
	background-color: #f8f8f8;
	padding-bottom: 60px;
}
.logos_block .logos_block_items{
	height: 150px;
	padding-top: 60px;
}
.logos_block p.logos_block-text{
	color: #555555;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	line-height: 30px;
	margin-top: 40px;
}


/*<!------------------------------------------- FOOTER ------------------------------------------->*/

.footer{
	width: 100%;
	height: auto;
	background-color: #c0301c;
	padding: 50px 0;
}
.touch_media_link{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 200px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.footer .title_line{
	background-color: #fff;
	margin-top: 30px;
}
.footer_text{
	text-align: center;
	color: #ffffff;
	font-family: "Roboto Slab";
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 0;
}